<!DOCTYPE html>
<html lang="en">

<head>
  <th:block th:replace="/head/shortcut-icon :: shortcut-icon"/>
  <title>Laptop rẻ - Laptop rẻ Đà Nẵng</title>
  <th:block th:replace="/head/meta-page :: meta-page"/>
  <!-- Og Image -->
  <th:block th:replace="/head/meta-property-page :: meta-property-page"/>
  <th:block th:replace="/head/home/head-css :: head-css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="/assets2/templates/laptop/js/script-functionality.js"></script>
  <meta name="google-site-verification" content="eVRCZHu_Fw8WY88Twsc045pW7nr_ngDPrKum2Fv4rSo" />
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-63688072-1"></script>
  <script src="/assets2/templates/laptop/js/function-gtag.js"></script>
  <th:block th:replace="/head/head-script :: head-script"/>
</head>

<body>
<script>
  dataLayer.push({
    'event': 'view_home',
    'remarketing_data': {
      'ecomm_pagetype': 'home'
    }
  });
</script>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N58F22L" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<!-- Start Preloader -->
<div id="preload-block">
  <div class="square-block"></div>
</div>
<!-- Preloader End -->

<!-- Menu Top -->
<th:block th:replace="/layout/menu-top :: menu-top"/>
<!-- Kết thúc Menu Top -->

<!-- Menu Bottom -->
<th:block th:replace="/layout/menu-bottom :: menu-bottom"/>

<!-- mobile and tabet -->
<th:block th:replace="/layout/nav-menu-wrap :: nav-menu-wrap"/>

<div class="nav-menu-background"></div>
<th:block th:replace="/layout/nav-menu-mobile-tablet :: nav-menu-mobile-tablet"/>
<!-- Modal -->
<th:block th:replace="/layout/example-modal :: example-modal"/>
<!-- end -->


<!-- Banerr -->
<th:block th:replace="/layout/home-page/banner-header :: banner-header"/>
<th:block th:replace="/layout/home-page/banner-mobile :: banner-mobile"/>
<th:block th:replace="/layout/home-page/icon-product :: icon-product"/>
<!---->

<div class="container giaosochomnay">
  <div class="row">
    <div class="col-md-12">
      <div id="homepage-deal" class="group-deal-2 filter fillter-home">
        <th:block th:replace="/layout/home-page/menu-deal-intro :: menu-deal-intro"/>
        <th:block th:replace="/layout/home-page/sub-banner :: sub-banner"/>
        <div class="row pt-2">
          <div class="col-6 col-xs-6 col-sm-6 col-md-3 col-lg-3">
            <div class="cdt-product banchay prd-lap"
                 onclick="window.location.href='https://laptopre.vn/laptop/hp-laptop-15-dw3058cl-i5-1135g7-ram-8gb-ssd-256gb'">

              <div class="cdt-product__img">
                <a href="https://laptopre.vn/laptop/hp-laptop-15-dw3058cl-i5-1135g7-ram-8gb-ssd-256gb"><img
                        class="lazyload" data-src="/assets2/upload/picture/picture-1660456848.png"
                        src="/assets2/upload/picture/picture-1660456848.png" alt="HP Laptop 15-dw3058cl/ i5-1135G7/ RAM 8GB/ SSD 256GB"
                        title="HP Laptop 15-dw3058cl/ i5-1135G7/ RAM 8GB/ SSD 256GB" height="215">
                </a>
                <div class="cdt-product__label">
                  <span class="badge badge-warning">Trả góp 0%</span><span
                        class="badge badge-primary">Giảm
                                        3.700.000đ</span>
                </div>
              </div>
              <div class="cdt-product__info ">
                <h3><a href="https://laptopre.vn/laptop/hp-laptop-15-dw3058cl-i5-1135g7-ram-8gb-ssd-256gb"
                       title=" " class="cdt-product__name">HP Laptop 15-dw3058cl/ i5-1135G7/ RAM 8GB/ SSD 256GB</a></h3>
                <div class="props wp-num-config">

                  <span class="num-config">1</span>cấu
                  hình tùy chọn
                  <br>
                  <span class="dotted">I5-1135G7</span>
                  <span class="dotted">RAM 8GB</span>
                  <span class="dotted">Ssd 256gb</span>
                  <span class="dotted">15.6&quot; FHD</span>
                  <span class="dotted">Intel Iris Xe Graphics</span>
                </div>

                <div class="price">
                  <strong>14.300.000₫</strong>
                  <span>18.000.000₫</span>
                </div>
                <div id="plistppromotion34658" class="cdt-product__text-promo">
                  <p><strong>Thêm: 3 quà tặng và 5 khuyến mãi</strong></p>
                </div>
                <div class="p-action">
                  <span class="p-qty"> Còn hàng </span>
                  <a href="https://laptopre.vn/laptop/hp-laptop-15-dw3058cl-i5-1135g7-ram-8gb-ssd-256gb"
                     class="p-buy js-buyNowAjax"><i class="fas fa-shopping-cart"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 col-xs-6 col-sm-6 col-md-3 col-lg-3">
            <div class="cdt-product banchay prd-lap"
                 onclick="window.location.href='https://laptopre.vn/laptop/hp-pavilion-x360-14-ek0013dx-i3-1215u-ram-8gb-ssd-256gb'">

              <div class="cdt-product__img">
                <a href="https://laptopre.vn/laptop/hp-pavilion-x360-14-ek0013dx-i3-1215u-ram-8gb-ssd-256gb"><img
                        class="lazyload" data-src="/assets2/upload/picture/picture-1660182067.png"
                        src="/assets2/upload/picture/picture-1660182067.png" alt="HP Pavilion x360 14-ek0013dx/ i3-1215U/ RAM 8GB/ SSD 256GB"
                        title="HP Pavilion x360 14-ek0013dx/ i3-1215U/ RAM 8GB/ SSD 256GB" height="215">
                </a>
                <div class="cdt-product__label">
                  <span class="badge badge-warning">Trả góp 0%</span><span
                        class="badge badge-primary">Giảm
                                        2.100.000đ</span>

                </div>
              </div>
              <div class="cdt-product__info ">
                <h3><a href="https://laptopre.vn/laptop/hp-pavilion-x360-14-ek0013dx-i3-1215u-ram-8gb-ssd-256gb"
                       title=" " class="cdt-product__name">HP Pavilion x360 14-ek0013dx/ i3-1215U/ RAM 8GB/ SSD 256GB</a></h3>
                <div class="props wp-num-config">

                  <span class="num-config">1</span>cấu
                  hình tùy chọn
                  <br>
                  <span class="dotted">Core i3-1215u</span>
                  <span class="dotted">RAM 8GB</span>
                  <span class="dotted">SSD 256GB</span>
                  <span class="dotted">14.0&quot; FHD Touch</span>
                  <span class="dotted">Intel UHD Graphics</span>
                </div>

                <div class="price">
                  <strong>12.900.000₫</strong>
                  <span>15.000.000₫</span>
                </div>
                <div id="plistppromotion34658" class="cdt-product__text-promo">
                  <p><strong>Thêm: 3 quà tặng và 5 khuyến mãi</strong></p>
                </div>
                <div class="p-action">
                  <span class="p-qty"> Còn hàng </span>
                  <a href="https://laptopre.vn/laptop/hp-pavilion-x360-14-ek0013dx-i3-1215u-ram-8gb-ssd-256gb"
                     class="p-buy js-buyNowAjax"><i class="fas fa-shopping-cart"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 col-xs-6 col-sm-6 col-md-3 col-lg-3">
            <div class="cdt-product banchay prd-lap"
                 onclick="window.location.href='https://laptopre.vn/laptop/lenovo-legion-5-15arh7-82re0035vn-r7-6800h-ram-8gb-ssd-512gb'">

              <div class="cdt-product__img">
                <a href="https://laptopre.vn/laptop/lenovo-legion-5-15arh7-82re0035vn-r7-6800h-ram-8gb-ssd-512gb"><img
                        class="lazyload" data-src="/assets2/upload/picture/picture-1660123226.png"
                        src="/assets2/upload/picture/picture-1660123226.png" alt="Lenovo Legion 5 15ARH7 82RE0035VN/ R7-6800H/ RAM 8GB/ SSD 512GB"
                        title="Lenovo Legion 5 15ARH7 82RE0035VN/ R7-6800H/ RAM 8GB/ SSD 512GB" height="215">
                </a>
                <div class="cdt-product__label">
                  <span class="badge badge-warning">Trả góp 0%</span><span
                        class="badge badge-primary">Giảm
                                        4.510.000đ</span>

                </div>
              </div>
              <div class="cdt-product__info ">
                <h3><a href="https://laptopre.vn/laptop/lenovo-legion-5-15arh7-82re0035vn-r7-6800h-ram-8gb-ssd-512gb"
                       title=" " class="cdt-product__name">Lenovo Legion 5 15ARH7 82RE0035VN/ R7-6800H/ RAM 8GB/ SSD 512GB</a></h3>
                <div class="props wp-num-config">

                  <span class="num-config">1</span>cấu
                  hình tùy chọn
                  <br>
                  <span class="dotted">R7-6800H</span>
                  <span class="dotted">RTX 3050</span>
                  <span class="dotted">RAM 8GB</span>
                  <span class="dotted">SSD 512GB</span>
                  <span class="dotted">15.6&quot; FHD</span>
                </div>

                <div class="price">
                  <strong>32.490.000₫</strong>
                  <span>37.000.000₫</span>
                </div>
                <div id="plistppromotion34658" class="cdt-product__text-promo">
                  <p><strong>Thêm: 3 quà tặng và 5 khuyến mãi</strong></p>
                </div>
                <div class="p-action">
                  <span class="p-qty"> Còn hàng </span>
                  <a href="https://laptopre.vn/laptop/lenovo-legion-5-15arh7-82re0035vn-r7-6800h-ram-8gb-ssd-512gb"
                     class="p-buy js-buyNowAjax"><i class="fas fa-shopping-cart"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 col-xs-6 col-sm-6 col-md-3 col-lg-3">
            <div class="cdt-product banchay prd-lap"
                 onclick="window.location.href='https://laptopre.vn/laptop/hp-victus-15-fa0031dx'">

              <div class="cdt-product__img">
                <a href="https://laptopre.vn/laptop/hp-victus-15-fa0031dx"><img
                        class="lazyload" data-src="/assets2/upload/picture/picture-1657099859.png"
                        src="/assets2/upload/picture/picture-1657099859.png" alt="HP Victus 15-fa0031dx"
                        title="HP Victus 15-fa0031dx" height="215">
                </a>
                <div class="cdt-product__label">
                  <span class="badge badge-warning">Trả góp 0%</span><span
                        class="badge badge-primary">Giảm
                                        6.100.000đ</span>

                </div>
              </div>
              <div class="cdt-product__info ">
                <h3><a href="https://laptopre.vn/laptop/hp-victus-15-fa0031dx"
                       title=" " class="cdt-product__name">HP Victus 15-fa0031dx</a></h3>
                <div class="props wp-num-config">

                  <span class="num-config">1</span>cấu
                  hình tùy chọn
                  <br>
                  <span class="dotted">core i5-12450H</span>
                  <span class="dotted">GTX 1650</span>
                  <span class="dotted">RAM 8GB</span>
                  <span class="dotted">SSD 512GB</span>
                  <span class="dotted">15.6&quot; FHD</span>
                </div>

                <div class="price">
                  <strong>18.900.000₫</strong>
                  <span>25.000.000₫</span>
                </div>
                <div id="plistppromotion34658" class="cdt-product__text-promo">
                  <p><strong>Thêm: 3 quà tặng và 5 khuyến mãi</strong></p>
                </div>
                <div class="p-action">
                  <span class="p-qty"> Còn hàng </span>
                  <a href="https://laptopre.vn/laptop/hp-victus-15-fa0031dx"
                     class="p-buy js-buyNowAjax"><i class="fas fa-shopping-cart"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!---->

<div class="container laptop-hang">
  <div class="row">
    <div class="col-md-12 ">
      <div class="filter fillter-home">
        <th:block th:replace="/layout/home-page/filter-home :: filter-home"/>
        <div class="row">
          <div class="col-6 col-xs-6 col-sm-6 col-md-3 col-lg-3">
            <div class="cdt-product banchay prd-lap"
                 onclick="window.location.href='https://laptopre.vn/laptop/hp-laptop-15-dw3058cl-i5-1135g7-ram-8gb-ssd-256gb'">

              <div class="cdt-product__img">
                <a href="https://laptopre.vn/laptop/hp-laptop-15-dw3058cl-i5-1135g7-ram-8gb-ssd-256gb"><img
                        class="lazyload" data-src="/assets2/upload/picture/picture-1660456848.png"
                        src="/assets2/upload/picture/picture-1660456848.png" alt="HP Laptop 15-dw3058cl/ i5-1135G7/ RAM 8GB/ SSD 256GB"
                        title="HP Laptop 15-dw3058cl/ i5-1135G7/ RAM 8GB/ SSD 256GB" height="215">
                </a>
                <div class="cdt-product__label">
                  <span class="badge badge-warning">Trả góp 0%</span><span
                        class="badge badge-primary">Giảm
                                        3.700.000đ</span>

                </div>
              </div>
              <div class="cdt-product__info ">
                <h3><a href="https://laptopre.vn/laptop/hp-laptop-15-dw3058cl-i5-1135g7-ram-8gb-ssd-256gb"
                       title=" " class="cdt-product__name">HP Laptop 15-dw3058cl/ i5-1135G7/ RAM 8GB/ SSD 256GB</a></h3>
                <div class="props wp-num-config">

                  <span class="num-config">1</span>cấu
                  hình tùy chọn
                  <br>
                  <span class="dotted">I5-1135G7</span>
                  <span class="dotted">RAM 8GB</span>
                  <span class="dotted">Ssd 256gb</span>
                  <span class="dotted">15.6&quot; FHD</span>
                  <span class="dotted">Intel Iris Xe Graphics</span>
                </div>

                <div class="price">
                  <strong>14.300.000₫</strong>
                  <span>18.000.000₫</span>
                </div>
                <div id="plistppromotion34658" class="cdt-product__text-promo">
                  <p><strong>Thêm: 3 quà tặng và 5 khuyến mãi</strong></p>
                </div>
                <div class="p-action">
                  <span class="p-qty"> Còn hàng </span>
                  <a href="https://laptopre.vn/laptop/hp-laptop-15-dw3058cl-i5-1135g7-ram-8gb-ssd-256gb"
                     class="p-buy js-buyNowAjax"><i class="fas fa-shopping-cart"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 col-xs-6 col-sm-6 col-md-3 col-lg-3">
            <div class="cdt-product banchay prd-lap"
                 onclick="window.location.href='https://laptopre.vn/laptop/hp-pavilion-x360-14-ek0013dx-i3-1215u-ram-8gb-ssd-256gb'">

              <div class="cdt-product__img">
                <a href="https://laptopre.vn/laptop/hp-pavilion-x360-14-ek0013dx-i3-1215u-ram-8gb-ssd-256gb"><img
                        class="lazyload" data-src="/assets2/upload/picture/picture-1660182067.png"
                        src="/assets2/upload/picture/picture-1660182067.png" alt="HP Pavilion x360 14-ek0013dx/ i3-1215U/ RAM 8GB/ SSD 256GB"
                        title="HP Pavilion x360 14-ek0013dx/ i3-1215U/ RAM 8GB/ SSD 256GB" height="215">
                </a>
                <div class="cdt-product__label">
                  <span class="badge badge-warning">Trả góp 0%</span><span
                        class="badge badge-primary">Giảm
                                        2.100.000đ</span>

                </div>
              </div>
              <div class="cdt-product__info ">
                <h3><a href="https://laptopre.vn/laptop/hp-pavilion-x360-14-ek0013dx-i3-1215u-ram-8gb-ssd-256gb"
                       title=" " class="cdt-product__name">HP Pavilion x360 14-ek0013dx/ i3-1215U/ RAM 8GB/ SSD 256GB</a></h3>
                <div class="props wp-num-config">

                  <span class="num-config">1</span>cấu
                  hình tùy chọn
                  <br>
                  <span class="dotted">Core i3-1215u</span>
                  <span class="dotted">RAM 8GB</span>
                  <span class="dotted">SSD 256GB</span>
                  <span class="dotted">14.0&quot; FHD Touch</span>
                  <span class="dotted">Intel UHD Graphics</span>
                </div>

                <div class="price">
                  <strong>12.900.000₫</strong>
                  <span>15.000.000₫</span>
                </div>
                <div id="plistppromotion34658" class="cdt-product__text-promo">
                  <p><strong>Thêm: 3 quà tặng và 5 khuyến mãi</strong></p>
                </div>
                <div class="p-action">
                  <span class="p-qty"> Còn hàng </span>
                  <a href="https://laptopre.vn/laptop/hp-pavilion-x360-14-ek0013dx-i3-1215u-ram-8gb-ssd-256gb"
                     class="p-buy js-buyNowAjax"><i class="fas fa-shopping-cart"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 col-xs-6 col-sm-6 col-md-3 col-lg-3">
            <div class="cdt-product banchay prd-lap"
                 onclick="window.location.href='https://laptopre.vn/laptop/lenovo-legion-5-15arh7-82re0035vn-r7-6800h-ram-8gb-ssd-512gb'">

              <div class="cdt-product__img">
                <a href="https://laptopre.vn/laptop/lenovo-legion-5-15arh7-82re0035vn-r7-6800h-ram-8gb-ssd-512gb"><img
                        class="lazyload" data-src="/assets2/upload/picture/picture-1660123226.png"
                        src="/assets2/upload/picture/picture-1660123226.png" alt="Lenovo Legion 5 15ARH7 82RE0035VN/ R7-6800H/ RAM 8GB/ SSD 512GB"
                        title="Lenovo Legion 5 15ARH7 82RE0035VN/ R7-6800H/ RAM 8GB/ SSD 512GB" height="215">
                </a>
                <div class="cdt-product__label">
                  <span class="badge badge-warning">Trả góp 0%</span><span
                        class="badge badge-primary">Giảm
                                        4.510.000đ</span>

                </div>
              </div>
              <div class="cdt-product__info ">
                <h3><a href="https://laptopre.vn/laptop/lenovo-legion-5-15arh7-82re0035vn-r7-6800h-ram-8gb-ssd-512gb"
                       title=" " class="cdt-product__name">Lenovo Legion 5 15ARH7 82RE0035VN/ R7-6800H/ RAM 8GB/ SSD 512GB</a></h3>
                <div class="props wp-num-config">

                  <span class="num-config">1</span>cấu
                  hình tùy chọn
                  <br>
                  <span class="dotted">R7-6800H</span>
                  <span class="dotted">RTX 3050</span>
                  <span class="dotted">RAM 8GB</span>
                  <span class="dotted">SSD 512GB</span>
                  <span class="dotted">15.6&quot; FHD</span>
                </div>

                <div class="price">
                  <strong>32.490.000₫</strong>
                  <span>37.000.000₫</span>
                </div>
                <div id="plistppromotion34658" class="cdt-product__text-promo">
                  <p><strong>Thêm: 3 quà tặng và 5 khuyến mãi</strong></p>
                </div>
                <div class="p-action">
                  <span class="p-qty"> Còn hàng </span>
                  <a href="https://laptopre.vn/laptop/lenovo-legion-5-15arh7-82re0035vn-r7-6800h-ram-8gb-ssd-512gb"
                     class="p-buy js-buyNowAjax"><i class="fas fa-shopping-cart"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 col-xs-6 col-sm-6 col-md-3 col-lg-3">
            <div class="cdt-product banchay prd-lap"
                 onclick="window.location.href='https://laptopre.vn/laptop/hp-victus-15-fa0031dx'">

              <div class="cdt-product__img">
                <a href="https://laptopre.vn/laptop/hp-victus-15-fa0031dx"><img
                        class="lazyload" data-src="/assets2/upload/picture/picture-1657099859.png"
                        src="/assets2/upload/picture/picture-1657099859.png" alt="HP Victus 15-fa0031dx"
                        title="HP Victus 15-fa0031dx" height="215">
                </a>
                <div class="cdt-product__label">
                  <span class="badge badge-warning">Trả góp 0%</span><span
                        class="badge badge-primary">Giảm
                                        6.100.000đ</span>

                </div>
              </div>
              <div class="cdt-product__info ">
                <h3><a href="https://laptopre.vn/laptop/hp-victus-15-fa0031dx"
                       title=" " class="cdt-product__name">HP Victus 15-fa0031dx</a></h3>
                <div class="props wp-num-config">

                  <span class="num-config">1</span>cấu
                  hình tùy chọn
                  <br>
                  <span class="dotted">core i5-12450H</span>
                  <span class="dotted">GTX 1650</span>
                  <span class="dotted">RAM 8GB</span>
                  <span class="dotted">SSD 512GB</span>
                  <span class="dotted">15.6&quot; FHD</span>
                </div>

                <div class="price">
                  <strong>18.900.000₫</strong>
                  <span>25.000.000₫</span>
                </div>
                <div id="plistppromotion34658" class="cdt-product__text-promo">
                  <p><strong>Thêm: 3 quà tặng và 5 khuyến mãi</strong></p>
                </div>
                <div class="p-action">
                  <span class="p-qty"> Còn hàng </span>
                  <a href="https://laptopre.vn/laptop/hp-victus-15-fa0031dx"
                     class="p-buy js-buyNowAjax"><i class="fas fa-shopping-cart"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 col-xs-6 col-sm-6 col-md-3 col-lg-3">
            <div class="cdt-product banchay prd-lap"
                 onclick="window.location.href='https://laptopre.vn/laptop/dell-vostro-5320-v3i7007w-i7-1260p-ram-16gb-512gb-ssd'">

              <div class="cdt-product__img">
                <a href="https://laptopre.vn/laptop/dell-vostro-5320-v3i7007w-i7-1260p-ram-16gb-512gb-ssd"><img
                        class="lazyload" data-src="/assets2/upload/picture/picture-1659348320.png"
                        src="/assets2/upload/picture/picture-1659348320.png" alt="Dell Vostro 5320 V3I7007W/ i7-1260P/ RAM 16GB/ 512GB SSD"
                        title="Dell Vostro 5320 V3I7007W/ i7-1260P/ RAM 16GB/ 512GB SSD" height="215">
                </a>
                <div class="cdt-product__label">
                  <span class="badge badge-warning">Trả góp 0%</span><span
                        class="badge badge-primary">Giảm
                                        3.100.000đ</span>

                </div>
              </div>
              <div class="cdt-product__info ">
                <h3><a href="https://laptopre.vn/laptop/dell-vostro-5320-v3i7007w-i7-1260p-ram-16gb-512gb-ssd"
                       title=" " class="cdt-product__name">Dell Vostro 5320 V3I7007W/ i7-1260P/ RAM 16GB/ 512GB SSD</a></h3>
                <div class="props wp-num-config">

                  <span class="num-config">1</span>cấu
                  hình tùy chọn
                  <br>
                  <span class="dotted">i7-1260P</span>
                  <span class="dotted">RAM 16GB</span>
                  <span class="dotted">SSD 512GB</span>
                  <span class="dotted">13.3&quot; QHD+</span>
                  <span class="dotted">Intel® Iris® Xe Graphics</span>
                </div>

                <div class="price">
                  <strong>26.900.000₫</strong>
                  <span>30.000.000₫</span>
                </div>
                <div id="plistppromotion34658" class="cdt-product__text-promo">
                  <p><strong>Thêm: 3 quà tặng và 5 khuyến mãi</strong></p>
                </div>
                <div class="p-action">
                  <span class="p-qty"> Còn hàng </span>
                  <a href="https://laptopre.vn/laptop/dell-vostro-5320-v3i7007w-i7-1260p-ram-16gb-512gb-ssd"
                     class="p-buy js-buyNowAjax"><i class="fas fa-shopping-cart"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 col-xs-6 col-sm-6 col-md-3 col-lg-3">
            <div class="cdt-product banchay prd-lap"
                 onclick="window.location.href='https://laptopre.vn/laptop/laptop-lenovo-v15-g2-itl-82kb00qrvn-i3-1115g4-4gb-ssd-256gb-156-inch-fhd'">

              <div class="cdt-product__img">
                <a href="https://laptopre.vn/laptop/laptop-lenovo-v15-g2-itl-82kb00qrvn-i3-1115g4-4gb-ssd-256gb-156-inch-fhd"><img
                        class="lazyload" data-src="/assets2/upload/picture/picture-1658486717.png"
                        src="/assets2/upload/picture/picture-1658486717.png" alt="Laptop Lenovo V15 G2 ITL 82KB00QRVN/ i3-1115G4/ 4GB/ SSD 256GB/ 15.6 inch FHD"
                        title="Laptop Lenovo V15 G2 ITL 82KB00QRVN/ i3-1115G4/ 4GB/ SSD 256GB/ 15.6 inch FHD" height="215">
                </a>
                <div class="cdt-product__label">
                  <span class="badge badge-warning">Trả góp 0%</span><span
                        class="badge badge-primary">Giảm
                                        2.550.000đ</span>

                </div>
              </div>
              <div class="cdt-product__info ">
                <h3><a href="https://laptopre.vn/laptop/laptop-lenovo-v15-g2-itl-82kb00qrvn-i3-1115g4-4gb-ssd-256gb-156-inch-fhd"
                       title=" " class="cdt-product__name">Laptop Lenovo V15 G2 ITL 82KB00QRVN/ i3-1115G4/ 4GB/ SSD 256GB/ 15.6 inch FHD</a></h3>
                <div class="props wp-num-config">

                  <span class="num-config">1</span>cấu
                  hình tùy chọn
                  <br>
                  <span class="dotted">i3-1115G4</span>
                  <span class="dotted">RAM 4GB</span>
                  <span class="dotted">SSD 256GB</span>
                  <span class="dotted">15.6&quot; FHD</span>
                  <span class="dotted">Intel UHD Graphics</span>
                </div>

                <div class="price">
                  <strong>8.950.000₫</strong>
                  <span>11.500.000₫</span>
                </div>
                <div id="plistppromotion34658" class="cdt-product__text-promo">
                  <p><strong>Thêm: 3 quà tặng và 5 khuyến mãi</strong></p>
                </div>
                <div class="p-action">
                  <span class="p-qty"> Còn hàng </span>
                  <a href="https://laptopre.vn/laptop/laptop-lenovo-v15-g2-itl-82kb00qrvn-i3-1115g4-4gb-ssd-256gb-156-inch-fhd"
                     class="p-buy js-buyNowAjax"><i class="fas fa-shopping-cart"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 col-xs-6 col-sm-6 col-md-3 col-lg-3">
            <div class="cdt-product banchay prd-lap"
                 onclick="window.location.href='https://laptopre.vn/laptop/asus-vivobook-d515da-ej1364w-r3-3250u-4gb-ssd-512gb-156-fhd'">

              <div class="cdt-product__img">
                <a href="https://laptopre.vn/laptop/asus-vivobook-d515da-ej1364w-r3-3250u-4gb-ssd-512gb-156-fhd"><img
                        class="lazyload" data-src="/assets2/upload/picture/picture-1658483647.png"
                        src="/assets2/upload/picture/picture-1658483647.png" alt="Asus Vivobook D515DA-EJ1364W/ R3-3250U/ 4GB/ SSD 512GB/ 15.6 FHD"
                        title="Asus Vivobook D515DA-EJ1364W/ R3-3250U/ 4GB/ SSD 512GB/ 15.6 FHD" height="215">
                </a>
                <div class="cdt-product__label">
                  <span class="badge badge-warning">Trả góp 0%</span><span
                        class="badge badge-primary">Giảm
                                        2.650.000đ</span>

                </div>
              </div>
              <div class="cdt-product__info ">
                <h3><a href="https://laptopre.vn/laptop/asus-vivobook-d515da-ej1364w-r3-3250u-4gb-ssd-512gb-156-fhd"
                       title=" " class="cdt-product__name">Asus Vivobook D515DA-EJ1364W/ R3-3250U/ 4GB/ SSD 512GB/ 15.6 FHD</a></h3>
                <div class="props wp-num-config">

                  <span class="num-config">1</span>cấu
                  hình tùy chọn
                  <br>
                  <span class="dotted">R3-3250U</span>
                  <span class="dotted">RAM 4GB</span>
                  <span class="dotted">SSD 512GB</span>
                  <span class="dotted">AMD Radeon Graphics</span>
                  <span class="dotted">15.6&quot; FHD</span>
                </div>

                <div class="price">
                  <strong>9.350.000₫</strong>
                  <span>12.000.000₫</span>
                </div>
                <div id="plistppromotion34658" class="cdt-product__text-promo">
                  <p><strong>Thêm: 3 quà tặng và 5 khuyến mãi</strong></p>
                </div>
                <div class="p-action">
                  <span class="p-qty"> Còn hàng </span>
                  <a href="https://laptopre.vn/laptop/asus-vivobook-d515da-ej1364w-r3-3250u-4gb-ssd-512gb-156-fhd"
                     class="p-buy js-buyNowAjax"><i class="fas fa-shopping-cart"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 col-xs-6 col-sm-6 col-md-3 col-lg-3">
            <div class="cdt-product banchay prd-lap"
                 onclick="window.location.href='https://laptopre.vn/laptop/lenovo-thinkpad-x1-titanium-yoga'">

              <div class="cdt-product__img">
                <a href="https://laptopre.vn/laptop/lenovo-thinkpad-x1-titanium-yoga"><img
                        class="lazyload" data-src="/assets2/upload/picture/picture-1657597508.png"
                        src="/assets2/upload/picture/picture-1657597508.png" alt="Lenovo ThinkPad X1 Titanium Yoga"
                        title="Lenovo ThinkPad X1 Titanium Yoga" height="215">
                </a>
                <div class="cdt-product__label">
                  <span class="badge badge-warning">Trả góp 0%</span><span
                        class="badge badge-primary">Giảm
                                        5.100.000đ</span>

                </div>
              </div>
              <div class="cdt-product__info ">
                <h3><a href="https://laptopre.vn/laptop/lenovo-thinkpad-x1-titanium-yoga"
                       title=" " class="cdt-product__name">Lenovo ThinkPad X1 Titanium Yoga</a></h3>
                <div class="props wp-num-config">

                  <span class="num-config">1</span>cấu
                  hình tùy chọn
                  <br>
                  <span class="dotted">i7-1160G7</span>
                  <span class="dotted">RAM 16GB</span>
                  <span class="dotted">SSD 512GB</span>
                  <span class="dotted">13.5&quot; QHD Touch</span>
                  <span class="dotted">Intel Iris Xe Graphics</span>
                </div>

                <div class="price">
                  <strong>28.900.000₫</strong>
                  <span>34.000.000₫</span>
                </div>
                <div id="plistppromotion34658" class="cdt-product__text-promo">
                  <p><strong>Thêm: 3 quà tặng và 5 khuyến mãi</strong></p>
                </div>
                <div class="p-action">
                  <span class="p-qty"> Còn hàng </span>
                  <a href="https://laptopre.vn/laptop/lenovo-thinkpad-x1-titanium-yoga"
                     class="p-buy js-buyNowAjax"><i class="fas fa-shopping-cart"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <a href="/laptop-moi" class="readmore-btn mobile"><span>Xem tất cả <b>184</b> Laptop mới</span></a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container laptop-hang">
  <div class="row">
    <div class="col-md-12 ">
      <div class="filter fillter-home">
        <th:block th:replace="/layout/home-page/filter-home-laptop-old :: filter-home-laptop-old"/>
        <div class="row">
          <div class="col-6 col-xs-6 col-sm-6 col-md-3 col-lg-3">
            <div class="cdt-product banchay prd-lap"
                 onclick="window.location.href='https://laptopre.vn/laptop/dell-inspiron-5493'">

              <div class="cdt-product__img">
                <a href="https://laptopre.vn/laptop/dell-inspiron-5493">
                  <img class=" lazyloaded" data-src="/assets2/upload/picture/picture-1660123226.png" src="/assets2/upload/picture/picture-1660123226.png" alt="Lenovo Legion 5 15ARH7 82RE0035VN/ R7-6800H/ RAM 8GB/ SSD 512GB" title="Lenovo Legion 5 15ARH7 82RE0035VN/ R7-6800H/ RAM 8GB/ SSD 512GB" height="215">
                </a>
                <div class="cdt-product__label">
                  <span class="badge badge-warning">Trả góp 0%</span><span
                        class="badge badge-primary">Giảm
                                        2.500.000đ</span>

                </div>
              </div>
              <div class="cdt-product__info ">
                <h3><a href="https://laptopre.vn/laptop/dell-inspiron-5493"
                       title=" " class="cdt-product__name">Dell inspiron 5493</a></h3>
                <div class="props wp-num-config">

                  <span class="num-config">1</span>cấu
                  hình tùy chọn
                  <br>
                  <span class="dotted">i7-1065G7</span>
                  <span class="dotted">MX230</span>
                  <span class="dotted">RAM 8GB</span>
                  <span class="dotted">SSD 256GB</span>
                  <span class="dotted">14.0&quot; FHD</span>
                </div>

                <div class="price">
                  <strong>11.500.000₫</strong>
                  <span>14.000.000₫</span>
                </div>
                <div id="plistppromotion34658" class="cdt-product__text-promo">
                  <p><strong>Thêm: 3 quà tặng và 5 khuyến mãi</strong></p>
                </div>
                <div class="p-action">
                  <span class="p-qty"> Còn hàng </span>
                  <a href="https://laptopre.vn/laptop/dell-inspiron-5493"
                     class="p-buy js-buyNowAjax"><i class="fas fa-shopping-cart"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 col-xs-6 col-sm-6 col-md-3 col-lg-3">
            <div class="cdt-product banchay prd-lap"
                 onclick="window.location.href='https://laptopre.vn/laptop/dell-inspiron-5448-i5-5200u-ram-8gb'">

              <div class="cdt-product__img">
                <a href="https://laptopre.vn/laptop/dell-inspiron-5448-i5-5200u-ram-8gb">
                  <img class=" ls-is-cached lazyloaded" data-src="/assets2/upload/picture/picture-1660456848.png" src="/assets2/upload/picture/picture-1660456848.png" alt="HP Laptop 15-dw3058cl/ i5-1135G7/ RAM 8GB/ SSD 256GB" title="HP Laptop 15-dw3058cl/ i5-1135G7/ RAM 8GB/ SSD 256GB" height="215">
                </a>
                <div class="cdt-product__label">
                  <span class="badge badge-warning">Trả góp 0%</span><span
                        class="badge badge-primary">Giảm
                                        1.800.000đ</span>

                </div>
              </div>
              <div class="cdt-product__info ">
                <h3><a href="https://laptopre.vn/laptop/dell-inspiron-5448-i5-5200u-ram-8gb"
                       title=" " class="cdt-product__name">Dell Inspiron 5448/ i5-5200U/ RAM 8GB</a></h3>
                <div class="props wp-num-config">

                  <span class="num-config">2</span>cấu
                  hình tùy chọn
                  <br>
                  <span class="dotted">i5-5200U</span>
                  <span class="dotted">Intel HD Graphics / AMD R7 M270 4GB</span>
                  <span class="dotted">RAM 8GB</span>
                  <span class="dotted">SSD 120GB</span>
                  <span class="dotted">14.0 HD</span>
                </div>

                <div class="price">
                  <strong>7.200.000₫</strong>
                  <span>9.000.000₫</span>
                </div>
                <div id="plistppromotion34658" class="cdt-product__text-promo">
                  <p><strong>Thêm: 3 quà tặng và 5 khuyến mãi</strong></p>
                </div>
                <div class="p-action">
                  <span class="p-qty"> Còn hàng </span>
                  <a href="https://laptopre.vn/laptop/dell-inspiron-5448-i5-5200u-ram-8gb"
                     class="p-buy js-buyNowAjax"><i class="fas fa-shopping-cart"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 col-xs-6 col-sm-6 col-md-3 col-lg-3">
            <div class="cdt-product banchay prd-lap"
                 onclick="window.location.href='https://laptopre.vn/laptop/dell-inspiron-n7460'">

              <div class="cdt-product__img">
                <a href="https://laptopre.vn/laptop/dell-inspiron-n7460">
                  <img class=" lazyloaded" data-src="/assets2/upload/picture/picture-1657099859.png" src="/assets2/upload/picture/picture-1657099859.png" alt="HP Victus 15-fa0031dx" title="HP Victus 15-fa0031dx" height="215">
                </a>
                <div class="cdt-product__label">
                  <span class="badge badge-warning">Trả góp 0%</span><span
                        class="badge badge-primary">Giảm
                                        5.200.000đ</span>

                </div>
              </div>
              <div class="cdt-product__info ">
                <h3><a href="https://laptopre.vn/laptop/dell-inspiron-n7460"
                       title=" " class="cdt-product__name">Dell Inspiron N7460</a></h3>
                <div class="props wp-num-config">

                  <span class="num-config">2</span>cấu
                  hình tùy chọn
                  <br>
                  <span class="dotted">Core I7-7500U | i5-7200U</span>
                  <span class="dotted">NVIDIA GT940</span>
                  <span class="dotted">RAM 4GB</span>
                  <span class="dotted">HDD 500GB + 128GB SSD</span>
                  <span class="dotted">14.0 INCH FHD</span>
                </div>

                <div class="price">
                  <strong>9.800.000₫</strong>
                  <span>15.000.000₫</span>
                </div>
                <div id="plistppromotion34658" class="cdt-product__text-promo">
                  <p><strong>Thêm: 3 quà tặng và 5 khuyến mãi</strong></p>
                </div>
                <div class="p-action">
                  <span class="p-qty"> Còn hàng </span>
                  <a href="https://laptopre.vn/laptop/dell-inspiron-n7460"
                     class="p-buy js-buyNowAjax"><i class="fas fa-shopping-cart"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 col-xs-6 col-sm-6 col-md-3 col-lg-3">
            <div class="cdt-product banchay prd-lap"
                 onclick="window.location.href='https://laptopre.vn/laptop/laptop-msi-katana-gf66-i7-11800h16gb-ssd-512gb-rtx-3060-156-inch-fhd'">

              <div class="cdt-product__img">
                <a href="https://laptopre.vn/laptop/laptop-msi-katana-gf66-i7-11800h16gb-ssd-512gb-rtx-3060-156-inch-fhd">
                  <img class=" lazyloaded" data-src="/assets2/upload/picture/picture-1658483647.png" src="/assets2/upload/picture/picture-1658483647.png" alt="Asus Vivobook D515DA-EJ1364W/ R3-3250U/ 4GB/ SSD 512GB/ 15.6 FHD" title="Asus Vivobook D515DA-EJ1364W/ R3-3250U/ 4GB/ SSD 512GB/ 15.6 FHD" height="215">
                </a>
                <div class="cdt-product__label">
                  <span class="badge badge-warning">Trả góp 0%</span><span
                        class="badge badge-primary">Giảm
                                        2.100.000đ</span>

                </div>
              </div>
              <div class="cdt-product__info ">
                <h3><a href="https://laptopre.vn/laptop/laptop-msi-katana-gf66-i7-11800h16gb-ssd-512gb-rtx-3060-156-inch-fhd"
                       title=" " class="cdt-product__name">Laptop MSI Katana GF66/ i7-11800h/16GB/ SSD 512GB</a></h3>
                <div class="props wp-num-config">

                  <span class="num-config">2</span>cấu
                  hình tùy chọn
                  <br>
                  <span class="dotted">i7 11800h</span>
                  <span class="dotted">RTX 3060 | 3050</span>
                  <span class="dotted">RAM 16GB | 8GB</span>
                  <span class="dotted">SSD 512GB</span>
                  <span class="dotted">15.6&quot; FHD</span>
                </div>

                <div class="price">
                  <strong>22.900.000₫</strong>
                  <span>25.000.000₫</span>
                </div>
                <div id="plistppromotion34658" class="cdt-product__text-promo">
                  <p><strong>Thêm: 3 quà tặng và 5 khuyến mãi</strong></p>
                </div>
                <div class="p-action">
                  <span class="p-qty"> Còn hàng </span>
                  <a href="https://laptopre.vn/laptop/laptop-msi-katana-gf66-i7-11800h16gb-ssd-512gb-rtx-3060-156-inch-fhd"
                     class="p-buy js-buyNowAjax"><i class="fas fa-shopping-cart"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <a href="/laptop-cu" class="readmore-btn mobile"><span>Xem tất cả <b>184</b> Laptop cũ</span></a>
        </div>
      </div>
    </div>
  </div>
</div>

<th:block th:replace="/layout/home-page/menu-phone :: menu-phone"/>
<th:block th:replace="/layout/home-page/menu-category :: menu-category"/>

<div class="container blog">
  <div class="row ">
    <div class="col-md-12">
      <div id="homepage-deal" class="group-deal-2 fillter-home">

        <div class="row pt-3">
          <div class=" col-md-6 col-lg-9">
            <div class="blockTitle" style="margin-bottom: 10px;">

              <h2>
                KINH NGHIỆM VỀ LAPTOP
              </h2>
            </div>
            <div class="row">

              <div class="col-md-12  col-lg-8">
                <div class="fl"><a
                        href="https://laptopre.vn/tin-tuc/su-khac-nhau-va-cach-phan-biet-cac-dong-dell-laptop-inspiron-vostro-latitude-xps-alienware-precesion-194">
                  <div class="zone-youtube1"><img class="lazyload imgfryoutu"
                                                  data-src="/assets2/upload/blog-1651652757.jpg"
                                                  src="/assets2/upload/blog-1651652757.jpg"
                                                  style="display: inline; opacity: 1; ">
                    <i class="iconhome-yt"></i>
                  </div>
                  <div class="content">
                    <h5>Sự khác nhau và Cách phân biệt các dòng DELL laptop, Inspiron, Vostro, Latitude, XPS, Alienware, Precesion
                    </h5>
                    <div class="post-meta is-small op-8" style="font-size: .8em;">
                      04-05-2022
                    </div>
                    <p class="from_the_blog_excerpt "></p>
                  </div>
                </a></div>
              </div>
              <div class="col-md-12 col-lg-4">
                <div class="group3">
                  <a
                          href="https://laptopre.vn/tin-tuc/cach-cai-dat-trang-chu-cho-safari-tren-ios-15-giup-ban-co-mot-trinh-duyet-tot-nhat-tren-iphone-cua-minh-185">
                    <div class="zone-youtube"
                         onclick="window.location.href='https://laptopre.vn/tin-tuc/cach-cai-dat-trang-chu-cho-safari-tren-ios-15-giup-ban-co-mot-trinh-duyet-tot-nhat-tren-iphone-cua-minh-185'  ">
                      <img class="lazyload imgfryoutu"
                           data-src="/assets2/upload/blog-1638507200.jpg"
                           src="/assets2/upload/blog-1638507200.jpg"
                           style="display: block; opacity: 1;">
                    </div>
                    <p>Cách cài đặt trang chủ cho Safari trên iOS 15, giúp bạn có một trình duyệt tốt nhất trên iPhone của mình</p>
                  </a>
                  <a
                          href="https://laptopre.vn/tin-tuc/3-cach-bao-ve-tai-khoan-zalo-cua-ban-phong-truong-hop-so-dien-thoai-hoac-mat-khau-cua-ban-bi-lo-184">
                    <div class="zone-youtube"
                         onclick="window.location.href='https://laptopre.vn/tin-tuc/3-cach-bao-ve-tai-khoan-zalo-cua-ban-phong-truong-hop-so-dien-thoai-hoac-mat-khau-cua-ban-bi-lo-184'  ">
                      <img class="lazyload imgfryoutu"
                           data-src="/assets2/upload/blog-1638506786.jpg"
                           src="/assets2/upload/blog-1638506786.jpg"
                           style="display: block; opacity: 1;">
                    </div>
                    <p>3 cách bảo vệ tài khoản Zalo của bạn, phòng trường hợp số điện thoại hoặc mật khẩu của bạn bị lộ</p>
                  </a>
                  <a
                          href="https://laptopre.vn/tin-tuc/oppo-ra-mat-tinh-nang-pc-connect-tren-coloros-12-giup-dong-bo-dien-thoai-va-may-tinh-de-dang-hon-183">
                    <div class="zone-youtube"
                         onclick="window.location.href='https://laptopre.vn/tin-tuc/oppo-ra-mat-tinh-nang-pc-connect-tren-coloros-12-giup-dong-bo-dien-thoai-va-may-tinh-de-dang-hon-183'  ">
                      <img class="lazyload imgfryoutu"
                           data-src="/assets2/upload/blog-1638506152.jpg"
                           src="/assets2/upload/blog-1638506152.jpg"
                           style="display: block; opacity: 1;">
                    </div>
                    <p>OPPO ra mắt tính năng PC Connect trên ColorOS 12, giúp đồng bộ điện thoại và máy tính dễ dàng hơn</p>
                  </a>
                  <a
                          href="https://laptopre.vn/tin-tuc/cach-nhan-thong-bao-khi-caps-lock-duoc-bat-tren-windows-11-giup-ban-tranh-phien-phuc-khi-nhap-van-ban-va-mat-khau-182">
                    <div class="zone-youtube"
                         onclick="window.location.href='https://laptopre.vn/tin-tuc/cach-nhan-thong-bao-khi-caps-lock-duoc-bat-tren-windows-11-giup-ban-tranh-phien-phuc-khi-nhap-van-ban-va-mat-khau-182'  ">
                      <img class="lazyload imgfryoutu"
                           data-src="/assets2/upload/blog-1638504971.jpg"
                           src="/assets2/upload/blog-1638504971.jpg"
                           style="display: block; opacity: 1;">
                    </div>
                    <p>Cách nhận thông báo khi Caps Lock được bật trên Windows 11, giúp bạn tránh phiền phức khi nhập văn bản và mật khẩu</p>
                  </a>
                </div>
              </div>
            </div>

          </div>
          <div class="col-md-6 col-lg-3">
            <div class="blockTitle" style="margin-bottom: 10px;">
              <h2>
                TIN TỨC MỚI
              </h2>
            </div>
            <div class="fl"
                 onclick="window.location.href='https://laptopre.vn/tin-tuc/asus-aura-sync-la-gi-de-lam-gi-huong-dan-cai-dat-asus-aura-sync-196'">
              <div class="zone-youtube1-item"><img class="lazyload imgfryoutu"
                                                   data-src="/assets2/upload/blog-1658312264.jpg" src="/assets2/upload/blog-1658312264.jpg" style="display: inline; opacity: 1; ">
                <i class="iconhome-yt"></i>
              </div>
              <h6>Asus Aura Sync là gì? Để làm gì? Hướng dẫn cài đặt Asus Aura Sync
              </h6>
            </div>
            <div class="group3">
              <a href="">
                <div class="zone-youtube"
                     onclick="window.location.href='https://laptopre.vn/tin-tuc/cong-nghe-dong-bo-hoa-thich-ung-hay-con-goi-adaptive-sync-la-gi-195'">
                  <img class="lazyload imgfryoutu" data-src="/assets2/upload/blog-1658113773.jpg" src="/assets2/upload/blog-1658113773.jpg"
                       style="display: block; opacity: 1;"> <i class="iconhome-yt"></i>
                </div>
                <p>Công nghệ đồng bộ hóa thích ứng hay còn gọi Adaptive-Sync là gì?</p>
              </a>
              <a href="">
                <div class="zone-youtube"
                     onclick="window.location.href='https://laptopre.vn/tin-tuc/su-khac-nhau-va-cach-phan-biet-cac-dong-dell-laptop-inspiron-vostro-latitude-xps-alienware-precesion-194'">
                  <img class="lazyload imgfryoutu" data-src="/assets2/upload/blog-1651652757.jpg" src="/assets2/upload/blog-1651652757.jpg"
                       style="display: block; opacity: 1;"> <i class="iconhome-yt"></i>
                </div>
                <p>Sự khác nhau và Cách phân biệt các dòng DELL laptop, Inspiron, Vostro, Latitude, XPS, Alienware, Precesion</p>
              </a>
            </div>
          </div>
        </div>
        <div class="row pt-2">

        </div>
      </div>

    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="view-policy" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-body" id="policy-content">


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
      </div>
    </div>
  </div>
</div>
<script>
  function getPolicy(id){
    $.ajax({
      url: '/cac-cau-hoi-thuong-gap/'+id,
      method: 'get',
      data: {id: id},
      success: function(data){
        $('#policy-content').html(data);
        $('#view-policy').modal('show');
      }
    });
  }
</script>
<th:block th:replace="/head/home/script :: script"/>
<th:block th:replace="/layout/footer :: footer"/>
<script src="/assets2/templates/laptop/js/hide-header-on-scroll-down.js"></script>

</body>
</html>
