<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>List of products</title>
    <th:block th:include="layout/head :: head"/>
</head>
<body>
<div class="container">
    <div class="row mt-3 mb-3">
        <div class="col-lg-3">
            <a href="/products/create">
                <button type="button" class="btn btn-success">
                    Create page
                </button>
            </a>
        </div>
    </div>
    <div>
        <table id="tbProduct" class="table table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>Tên</th>
                <th>Giá</th>
                <th colspan="2"></th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<!-- Detail Modal -->
<th:block th:include="product/modal_detail :: modal_detail"/>

<!-- Update Modal -->
<th:block th:include="product/modal_update :: modal_update"/>


<th:block th:include="layout/script :: script"/>

<script>

    let page = {
        urls: {
            getAllComputerConfigurationParameters: App.BASE_URL + "/v1/computer-configuration-parameters",
            getAllProducts: App.BASE_URL + "/v1/products",
            getDetailProductById: App.BASE_URL + "/v1/products/detail",
            getEditProductById: App.BASE_URL + "/v1/products/edit",
            doUpdate: App.BASE_URL + "/v1/products/update"
        }
    }

    let product = {};
    let configurationDetail = {};
    let configurationParams = [];
    let computerConfigurationParameters = [];

    let computerConfiguration = {
        id: null,
        name: null,
        price: null,
        configurationDetail: {}
    }

    function getAllProducts() {
        $.ajax({
            headers: {
                "accept": "application/json",
                "content-type": "application/json"
            },
            type: "GET",
            url: page.urls.getAllProducts
        })
            .done((data) => {
                $.each(data, (i, item) => {
                    let str = App.renderProduct(item);

                    $("#tbProduct tbody").prepend(str);
                });
            })
            .fail((jqXHR) => {

            });
    }

    function getDetailProductById(productId) {
        return $.ajax({
            headers: {
                "accept": "application/json",
                "content-type": "application/json"
            },
            type: "GET",
            url: page.urls.getDetailProductById + "/" + productId
        })
            .done((data) => {
                product = data;
                configurationDetail = product.configurationDetail;
            })
            .fail((jqXHR) => {

            });
    }

    function getProductByIdShowModal(productId) {
        return $.ajax({
            headers: {
                "accept": "application/json",
                "content-type": "application/json"
            },
            type: "GET",
            url: page.urls.getEditProductById + "/" + productId
        })
            .done((data) => {
                product = data.product;
                configurationDetail = product.configurationDetail;
                configurationParams = data.computerConfigurationParameters;
            })
            .fail((jqXHR) => {

            });
    }

    function handleShowDetailModal() {
        $("#tbProduct tbody").on('click', 'button.detail', function () {
            let productId = $(this).data('id');

            getDetailProductById(productId).then(() => {

                let str = '';

                str += `
                    <tr>
                        <td class="col-lg-3 fw-bold">Tên</td>
                        <td class="col-lg-9" style="text-align: justify;">${product.name}</td>
                    </tr>
                    <tr>
                        <td class="col-lg-3 fw-bold">Giá</td>
                        <td class="col-lg-9" style="text-align: justify;">${product.price}</td>
                    </tr>
                `;

                $.each(configurationDetail, (key, value) => {
                    value.content = value.content.replaceAll("\n", "<br>");
                    str += App.renderDetailTableRow(value);
                })

                let tbody = $("#mdDetail table tbody");
                tbody.empty().append(str);

                $("#mdDetail").modal('show');
            })
        })
    }

    function handleShowUpdateModal() {
        $("#tbProduct tbody").on('click', 'button.edit', function () {
            let productId = $(this).data('id');

            getProductByIdShowModal(productId).then(() => {

                let str = '';

                $.each(configurationParams, (i, item) => {
                    str += App.renderInputUpdateForm(item.name, item.explanation, item.multiline);
                })

                $("#productIdUp").val(product.id);
                $("#nameUp").val(product.name);
                $("#priceUp").val(product.price);

                let divConfigurationDetail = $("#divConfigurationDetail");
                divConfigurationDetail.empty().append(str);

                $.each(configurationDetail, (key, value) => {
                    $("#" + key).val(value.content);
                })

                $("#mdUpdate").modal('show');
            })
        })
    }

    function doUpdate(obj) {
        $.ajax({
            headers: {
                "accept": "application/json",
                "content-type": "application/json"
            },
            type: "PUT",
            url: page.urls.doUpdate,
            data: JSON.stringify(obj)
        })
            .done((data) => {

                product = data;

                let str = App.renderProduct(product);

                let currentRow = $("#tr_" + product.id);
                currentRow.replaceWith(str);

                $("#mdUpdate").modal('hide');

                App.SweetAlert.showSuccessAlert("Product information updated successfully");
            })
            .fail((jqXHR) => {
                App.SweetAlert.showErrorAlert("Product information update failed");
            });
    }

    $("#btnUpdate").on('click', () => {
        computerConfiguration.id = +$("#productIdUp").val();
        computerConfiguration.name = $("#nameUp").val();
        computerConfiguration.price = +$("#priceUp").val();

        $.each(configurationParams, function (i, item) {
            computerConfiguration.configurationDetail[item.name].content = $("#" + item.name).val();
        })

        doUpdate(computerConfiguration);
    });


    function getAllComputerConfigurationParameters() {
        return $.ajax({
            headers: {
                "accept": "application/json",
                "content-type": "application/json"
            },
            type: "GET",
            url: page.urls.getAllComputerConfigurationParameters,
        })
            .done((data) => {
                computerConfigurationParameters = data;
            })
            .fail((jqXHR) => {

            });
    }


    $(() => {
        getAllProducts();

        getAllComputerConfigurationParameters().then(() => {
            $.each(computerConfigurationParameters, (i, item) => {

                let key = item.name;
                let obj = {}

                obj[key] = {
                    explanation: item.explanation
                }

                computerConfiguration.configurationDetail[key] = obj[key];
            })
        });

        handleShowDetailModal();

        handleShowUpdateModal();
    });
</script>
</body>
</html>