<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="head-script">
    <!-- Google Tag Manager -->
    <script src="/assets2/templates/laptop/js/google-tag-manager.js"></script>
    <!-- End Google Tag Manager -->
    <script type="application/ld+json" src="/assets2/templates/laptop/js/shop-info.json"></script>
    <script type="application/ld+json" src="/assets2/templates/laptop/js/website-info.json"></script>
    <script src="/assets2/templates/laptop/js/lazysizes.min.js" async=""></script>
</th:block>