<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="meta-page">
  <meta name="keywords" content="Laptop rẻ" />
  <meta name="news_keywords" content="Laptop rẻ" />
  <meta name="description" content="Laptop rẻ Đà Nẵng"/>
  <meta property="og:title" content="Laptop rẻ - Laptop rẻ Đà Nẵng" />
  <meta property="og:description" content="Laptop rẻ Đà Nẵng" />
  <meta property="og:image" content= "/assets2/templates/laptop/anh/BannerHieuS.png" />
  <meta property="og:url" itemprop="url" content="https://laptopre.vn">
  <meta property="og:type" content="website" />
  <meta itemprop="name" content="Laptop rẻ" />
  <meta itemprop="description" content="Laptop rẻ Đà Nẵng" />
  <meta itemprop="image" content= "" />
</th:block>