<!DOCTYPE html>
<html lang="en">

    <head>
        <title>User List Page</title>

        <!-- Meta -->
        <th:block th:replace="/layout/head/meta :: meta"/>
        <!-- App-favicon -->
        <th:block th:replace="/layout/head/app-favicon :: app-favicon"/>
        <!-- Main -->
        <th:block th:replace="/layout/head/main :: main"/>

    </head>

    <body data-sidebar="dark">

        <!-- Begin page -->
        <div id="layout-wrapper">
            <!-- Begin page-topbar -->
            <th:block th:replace="/layout/page-topbar :: page-topbar"/>
            <!-- End page-topbar -->

            <!-- Begin vertical-menu -->
            <th:block th:replace="/layout/vertical-menu :: vertical-menu"/>
            <!-- End vertical-menu -->

            <!-- Left Sidebar End -->

            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">

                <div class="page-content">
                    <div class="container-fluid">

                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box d-flex align-items-center justify-content-between">
                                    <h4 class="mb-0 font-size-18">Stock</h4>

                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">User</a></li>
                                            <li class="breadcrumb-item active">Over View</li>
                                        </ol>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- end page title -->

                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="row">
                                        <h1>Tổng Quan Kho Hàng</h1>
                                        <div class="col-7">
                                            <canvas id="barChart" style="width:100%"></canvas>
                                        </div>
                                        <div class="col-5">
                                            <canvas id="pieChart" style="width:100%"></canvas>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <h1 class="col-5">Hiển thị kho theo nhóm: </h1>
                                        <select class="form-control col-4" id="groupValue">
                                            <option value="brand">Thương hiệu</option>
                                            <option value="model">Dòng sản phẩm</option>
                                            <option value="core">Bộ vi xử lý</option>
                                            <option value="ram">RAM</option>
                                            <option value="capacity">Bộ nhớ</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end row -->
                    </div>
                    <!-- container-fluid -->
                </div>
            </div>
            <!-- End Page-content -->

            <!-- Modal -->

        </div>
        <!-- END layout-wrapper -->

        <!-- Right Sidebar -->
        <th:block th:replace="/layout/right-bar :: right-bar"/>
        <!-- End right-bar -->

        <!-- JAVASCRIPT -->
        <th:block th:replace="/layout/script/javascript :: javascript"/>
        <!-- App js -->
        <th:block th:replace="/layout/script/app-js :: app-js"/>

<!--        <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>-->
        <script src="/assets/js/pages/chart.js"></script>
        <script>
            let page = {
                urls: {
                    getInventoryOverView: App.BASER_URL + "/inventories",
                    getInventoryGroupByBrand: App.BASER_URL + "/inventories/brands",
                    getInventoryGroupByModel: App.BASER_URL + "/inventories/models",
                    getInventoryGroupByCore: App.BASER_URL + "/inventories/cores",
                    getInventoryGroupByRam: App.BASER_URL + "/inventories/rams",
                    getInventoryGroupByCapacity: App.BASER_URL + "/inventories/capacities",
                },
                elements: {
                },
                loadData: {},
                commands: {},
                dialogs: {
                    elements: {},
                    commands: {},
                    alertDanger: {}
                },
            }

            let inventories = [];
            let xValues = [];
            let yValues = [];
            let barColors = [];

            page.commands.getInventoryOverView = () => {
                return $.ajax({
                    headers: {
                        "accept": "application/json",
                        "content-type": "application/json"
                    },
                    type: "GET",
                    url: page.urls.getInventoryOverView,
                })
                    .done((data) => {
                        inventories = data;
                    })
                    .fail((jqXHR) => {

                    });
            }

            let groupName;
            let ajaxUrl;
            let inventoryByGroup = [];

            page.commands.getInventoryByGroup = (ajaxUrl) => {
                return $.ajax({
                    headers: {
                        "accept": "application/json",
                        "content-type": "application/json"
                    },
                    type: "GET",
                    url: ajaxUrl,
                })
                    .done((data) => {
                        inventories = data;
                    })
                    .fail((jqXHR) => {

                    });
            }

            $('#groupValue').on('change', () => {
                groupName = $('#groupValue').val();
                switch (groupName) {
                    case 'brand':
                        ajaxUrl = page.urls.getInventoryGroupByBrand;
                        break;
                    case 'model':
                        ajaxUrl = page.urls.getInventoryGroupByModel;
                        break;
                    case 'core':
                        ajaxUrl = page.urls.getInventoryGroupByCore;
                        break;
                    case 'ram':
                        ajaxUrl = page.urls.getInventoryGroupByRam;
                        break;
                    case 'capacity':
                        ajaxUrl = page.urls.getInventoryGroupByCapacity;
                        break;
                    default:
                        ajaxUrl = null;
                }
                if (ajaxUrl != null) {
                    page.commands.getInventoryByGroup(ajaxUrl).then()
                } else {

                }

            })

            $(() => {
                page.commands.getInventoryOverView().then(() => {
                    $.each(inventories, (index, value) => {
                        xValues.push(value.title);
                        yValues.push(value.quantity);
                        barColors.push("#" + ((1<<24)*Math.random() | 0).toString(16));
                    })

                    const barChart = new Chart($('#barChart'), {
                        type: 'bar',
                        data: {
                            labels: xValues,
                            datasets: [{
                                label: '',
                                data: yValues,
                                backgroundColor: barColors,
                                borderColor: [],
                                borderWidth: 1
                            }]
                        },
                        options: {
                            indexAxis: 'y',
                            scales: {
                                y: {
                                    beginAtZero: true
                                }
                            }
                        }
                    });

                    const pieChart = new Chart($('#pieChart'), {
                        type: 'pie',
                        data: {
                            labels: xValues,
                            datasets: [{
                                label: '',
                                data: yValues,
                                backgroundColor: barColors,
                                hoverOffset: 4
                            }]
                        }
                    });
                });
            });

        </script>
    </body>

</html>