<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="banner-mobile">
  <div class="container banner-mobile">
    <div class="row">
      <div class="col-sm-12 ">
        <div class="banner">
          <div id="carouselExampleIndicators1" class="carousel slide" data-ride="carousel">

            <div class="carousel-inner">
              <div class="carousel-item">
                <a href="/ban-hang-doanh-nghiep"> <img class="d-block w-100 lazyload" data-src="/assets2/templates/laptop/anh/banner-9lido.png" src="/assets2/templates/laptop/anh/banner-9lido.png"
                                                       alt="First slide"></a>
              </div>
              <div class="carousel-item active">
                <a href="/cau-hoi-thuong-gap/back_to_school_uu_dai"> <img class="d-block w-100 lazyload" data-src="/assets2/templates/laptop/anh/Artboard-5.png" src="/assets2/templates/laptop/anh/Artboard-5.png"
                                                                          alt="Second slide"></a>
              </div>
              <div class="carousel-item ">
                <a href="/cau-hoi-thuong-gap/thu-cu-doi-moi-toi-ngay-laptoprevn"> <img class="d-block w-100 lazyload" data-src="/assets2/templates/laptop/anh/Artboard-4.png" src="/assets2/templates/laptop/anh/Artboard-4.png"
                                                                                       alt="Second slide"></a>
              </div>
              <div class="carousel-item ">
                <a href="/cau-hoi-thuong-gap/uu_dai_hoc_sinh_sinh_vien">  <img class="d-block w-100 lazyload" data-src="/assets2/templates/laptop/anh/banner-uudai.png" src="/assets2/templates/laptop/anh/banner-uudai.png"
                                                                               alt="Second slide"></a>
              </div>

            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators1" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators1" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>

        </div>

      </div>
    </div>
  </div>
</th:block>