<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="filter-home">
  <div class="deal-intro">
    <div class="deal-div">
      <h2>Laptop mới giá tốt</h2>
    </div>
  </div>
  <div class="manu manu9">
    <div class="slide">
      <a class="outline-none lazyload" href="https://laptopre.vn/laptop-dell"><img
              src="/assets2/upload/category/logo-16261398511.png"></a>
    </div>
    <div class="slide">
      <a class="outline-none lazyload" href="https://laptopre.vn/laptop-asus"><img
              src="/assets2/upload/category/image-1615282033.png"></a>
    </div>
    <div class="slide">
      <a class="outline-none lazyload" href="https://laptopre.vn/laptop-macbook"><img
              src="/assets2/upload/category/image-1615281931.png"></a>
    </div>
    <div class="slide">
      <a class="outline-none lazyload" href="https://laptopre.vn/laptop-hp"><img
              src="/assets2/upload/category/image-1615282059.png"></a>
    </div>
    <div class="slide">
      <a class="outline-none lazyload" href="https://laptopre.vn/laptop-lenovo"><img
              src="/assets2/upload/category/image-1615282000.png"></a>
    </div>
    <div class="slide">
      <a class="outline-none lazyload" href="https://laptopre.vn/laptop-acer"><img
              src="/assets2/upload/category/image-1615282089.png"></a>
    </div>
    <div class="slide">
      <a class="outline-none lazyload" href="https://laptopre.vn/laptop-msi"><img
              src="/assets2/upload/category/image-1615282073.png"></a>
    </div>
    <div class="slide">
      <a class="outline-none lazyload" href="https://laptopre.vn/laptop-lg"><img
              src="/assets2/upload/category/image-1615282045.png"></a>
    </div>
    <div class="slide">
      <a class="outline-none lazyload" href="https://laptopre.vn/laptop-microsoft-surface"><img
              src="/assets2/upload/category/logo-16261398731.png"></a>
    </div>


  </div>
  <div class="flex items-center pt-2">
    <div class="title">Khoảng giá</div>
    <div class="content laptop-moi">

      <label onclick="window.location.href='laptop?muc-gia=duoi-5-trieu&amp;laptop=laptop-moi'">
        Dưới 5 triệu
      </label>
      <label onclick="window.location.href='laptop?muc-gia=tu-5-7-trieu&amp;laptop=laptop-moi'">
        Từ 5 - 7 triệu
      </label>
      <label onclick="window.location.href='laptop?muc-gia=tu-7-10-trieu&amp;laptop=laptop-moi'">
        Từ 7 - 10 triệu
      </label>
      <label onclick="window.location.href='laptop?muc-gia=tu-10-15-trieu&amp;laptop=laptop-moi'">
        Từ 10 - 15 triệu
      </label>
      <label onclick="window.location.href='laptop?muc-gia=tu-15-20-trieu&amp;laptop=laptop-moi'">
        Từ 15 - 20 triệu
      </label>
      <label onclick="window.location.href='laptop?muc-gia=tu-20-25-trieu&amp;laptop=laptop-moi'">
        Từ 20 - 25 triệu
      </label>
      <label onclick="window.location.href='laptop?muc-gia=tu-25-30-trieu&amp;laptop=laptop-moi'">
        Từ 25 - 30 triệu
      </label>
      <label onclick="window.location.href='laptop?laptop=laptop-moi&amp;muc-gia=tren-30-trieu&amp;laptop=laptop-moi'">
        Trên 30 triệu
      </label>
    </div>
  </div>
  <div class="scrolling_inner scroll-right">
    <h2 class="box-common__title">Dòng laptop nổi bật</h2>
    <div class="box-common__link box scrolling" data-size="18">
      <a href="/laptop-dell-xps" data-index="1">
        Dell XPS
      </a>
      <a href="/laptop-hp-elitebook" data-index="2">
        HP Etilebook
      </a>

      <a href="/laptop-dell-precision" data-index="3">
        Dell Precision
      </a>
      <a href="/laptop-dell-latitude" data-index="3">
        Dell Latitude
      </a>
      <a href="/laptop-hp-spectre" data-index="3">
        HP Spectre
      </a>

      <a href="/laptop-hp-zbook-workstation" data-index="3">
        HP Zbook
      </a>
      <a href="/laptop-hp-envy" data-index="3">
        HP Envy
      </a>
      <a href="/laptop-microsoft-surface" data-index="3">
        Suface
      </a>
      <a href="/laptop-msi" data-index="3">
        MSI Cao cấp
      </a>
      <a href="/laptop-macbook" data-index="3">
        Macbook
      </a>
      <a href="/laptop-surface-laptop" data-index="3">
        Suface Laptop
      </a>
      <a href="/laptop-surface-book" data-index="3">
        Suface book
      </a>
      <a href="/laptop-moi" data-index="3">
        Xem thêm
      </a>
    </div>
  </div>
</th:block>