<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="filter-home-laptop-old">
    <div class="deal-intro">
        <div class="deal-div">
            <h2>Laptop cũ giá tốt</h2>
        </div>
    </div>
    <div class="manu manu9">
        <div class="slide">
            <a class="outline-none" href="/laptop-dell-cu"><img class="lazyload"
                                                                src="/assets2/upload/category/logo-16261398511.png"></a>
        </div>
        <div class="slide">
            <a class="outline-none" href="/laptop-asus-cu"><img class="lazyload"
                                                                src="/assets2/upload/category/image-1615282033.png"></a>
        </div>
        <div class="slide">
            <a class="outline-none" href="/laptop-macbook-cu"><img class="lazyload"
                                                                   src="/assets2/upload/category/image-1615281931.png"></a>
        </div>
        <div class="slide">
            <a class="outline-none" href="/laptop-hp-cu"><img class="lazyload"
                                                              src="/assets2/upload/category/image-1615282059.png"></a>
        </div>
        <div class="slide">
            <a class="outline-none" href="/laptop-lenovo-cu"><img class="lazyload"
                                                                  src="/assets2/upload/category/image-1615282000.png"></a>
        </div>
        <div class="slide">
            <a class="outline-none" href="/laptop-acer-cu"><img class="lazyload"
                                                                src="/assets2/upload/category/image-1615282089.png"></a>
        </div>
        <div class="slide">
            <a class="outline-none" href="/laptop-msi-cu"><img class="lazyload"
                                                               src="/assets2/upload/category/image-1615282073.png"></a>
        </div>
        <div class="slide">
            <a class="outline-none" href="/laptop-lg-cu"><img class="lazyload"
                                                              src="/assets2/upload/category/image-1615282045.png"></a>
        </div>
        <div class="slide">
            <a class="outline-none" href="/laptop-microsoft-surface-cu"><img class="lazyload"
                                                                             src="/assets2/upload/category/logo-16261398731.png"></a>
        </div>
    </div>
    <div class="flex items-center pt-2">
        <div class="title">Khoảng giá</div>
        <div class="content">

            <label onclick="window.location.href=' laptop?muc-gia=duoi-5-trieu&amp;laptop=laptop-cu-re-hon-toi-70'">
                Dưới 5 triệu
            </label>
            <label onclick="window.location.href=' laptop?muc-gia=tu-5-7-trieu&amp;laptop=laptop-cu-re-hon-toi-70'">
                Từ 5 - 7 triệu
            </label>
            <label onclick="window.location.href=' laptop?muc-gia=tu-7-10-trieu&amp;laptop=laptop-cu-re-hon-toi-70'">
                Từ 7 - 10 triệu
            </label>
            <label onclick="window.location.href=' laptop?muc-gia=tu-10-15-trieu&amp;laptop=laptop-cu-re-hon-toi-70'">
                Từ 10 - 15 triệu
            </label>
            <label onclick="window.location.href=' laptop?muc-gia=tu-15-20-trieu&amp;laptop=laptop-cu-re-hon-toi-70'">
                Từ 15 - 20 triệu
            </label>
            <label onclick="window.location.href=' laptop?muc-gia=tu-20-25-trieu&amp;laptop=laptop-cu-re-hon-toi-70'">
                Từ 20 - 25 triệu
            </label>
            <label onclick="window.location.href=' laptop?muc-gia=tu-25-30-trieu&amp;laptop=laptop-cu-re-hon-toi-70'">
                Từ 25 - 30 triệu
            </label>
            <label onclick="window.location.href=' laptop?laptop=laptop-moi&amp;muc-gia=tren-30-trieu&amp;laptop=laptop-cu-re-hon-toi-70'">
                Trên 30 triệu
            </label>
        </div>
    </div>
</th:block>