<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="icon-product">
  <div class="container icon-sanpham">
    <div class="row">
      <div class="col-sm-6" style=" padding-right: 7px;">
        <div class="style__StyledCallout-g2h8v0-0 bSfpQf"><img class="lazyload" style="width: 100%;"
                                                               data-src="/assets2/templates/laptop/anh/banner-duoi-1.png">
        </div>
      </div>
      <div class="col-sm-6" style=" padding-left: 7px;">
        <div class="style__StyledCallout-g2h8v0-0 bSfpQf"><img class="lazyload" style="width: 100%;"
                                                               data-src="/assets2/templates/laptop/anh/banner-duoi-2.png">
        </div>
      </div>
      <div class="col-sm-12">
        <div class="style__StyledIconWidgets-zkcvo4-0 fWrWoM">



          <a href="/ban-hang-doanh-nghiep" class="item">
            <img data-src="assets2/upload/854facbaed7d1a23436c.jpg" class="thumb lazyload"><span>Bán hàng doanh
                        nghiệp</span>
          </a>
          <a href="javascript:void(0)" onclick="return getPolicy(37)" class="item">
            <img data-src="/assets2/upload/picture/picture-1627488633.png"
                 class="thumb lazyload"><span>Rẻ hơn hoàn tiền</span>
          </a>
          <a href="javascript:void(0)" onclick="return getPolicy(36)" class="item">
            <img data-src="/assets2/upload/picture/picture-1627489684.jpg"
                 class="thumb lazyload"><span>Góp 100% giá trị</span>
          </a>
          <a href="javascript:void(0)" onclick="return getPolicy(8)" class="item">
            <img data-src="/assets2/upload/picture/picture-1617854966.png"
                 class="thumb lazyload"><span>Giao hàng tận nhà</span>
          </a>
          <a href="javascript:void(0)" onclick="return getPolicy(7)" class="item">
            <img data-src="/assets2/upload/picture/picture-1617854974.png"
                 class="thumb lazyload"><span>Thuận lợi thanh toán</span>
          </a>
          <a href="javascript:void(0)" onclick="return getPolicy(23)" class="item">
            <img data-src="/assets2/upload/picture/picture-1627488376.png"
                 class="thumb lazyload"><span>Thu mua laptop, Đổi cũ lấy mới, thu mua laptop giá cao</span>
          </a>
          <a href="javascript:void(0)" onclick="return getPolicy(22)" class="item">
            <img data-src="/assets2/upload/picture/picture-1627487468.png"
                 class="thumb lazyload"><span>11 Lợi ích</span>
          </a>
          <a href="javascript:void(0)" onclick="return getPolicy(10)" class="item">
            <img data-src="/assets2/upload/picture/picture-1628096409.png"
                 class="thumb lazyload"><span>Luôn đồng hành</span>
          </a>
          <a href="javascript:void(0)" onclick="return getPolicy(35)" class="item">
            <img data-src="/assets2/upload/picture/picture-1628095611.jpg"
                 class="thumb lazyload"><span>Bảo hành 24 Tháng</span>
          </a>
          <a href="javascript:void(0)" onclick="return getPolicy(38)" class="item">
            <img data-src="/assets2/upload/icon-policy.png"
                 class="thumb lazyload"><span>Bộ sản phẩm bao gồm</span>
          </a>
          <a href="javascript:void(0)" onclick="return getPolicy(42)" class="item">
            <img data-src="/assets2/upload/icon-policy.png"
                 class="thumb lazyload"><span></span>
          </a>



        </div>
      </div>
    </div>
  </div>
</th:block>