<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="menu-deal-intro">
  <div class="flex items-center pt-2">

    <div class="deal-intro giasocc">
      <h2> Giá Sốc Hôm Nay</h2>
    </div>
    <div class="content">
      <label onclick="window.location.href='https://laptopre.vn/laptop-moi'">
        Laptop mới
      </label>
      <label onclick="window.location.href='/laptop-cu'">
        Laptop cũ
      </label>
      <label onclick="window.location.href='/may-ban'">
        PC (Máy bàn)
      </label>
      <label onclick="window.location.href='/may-tinh-bang'">
        Tablet
      </label>
      <label onclick="window.location.href='/dien-thoai'">
        Điện thoại
      </label>
      <label onclick="window.location.href='/linh-kien-pc'">
        Linh kiện PC
      </label>

      <label onclick="window.location.href='/phu-kien'">
        Phụ kiện
      </label>
      <label onclick="window.location.href='/thiet-bi-van-phong-may-in'">
        Máy in
      </label>
    </div>
  </div>
</th:block>