<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="menu-category">
  <div class="container icon">
    <div class="row ">
      <div class="col-md-12">
        <div id="homepage-deal" class="group-deal-2 fillter-home">
          <div class="flex items-center pt-2">
            <div class="title">
              <p class="mb-0 hot-sale" style="width: 300px;"><strong class="align-items-center">Danh mục sản
                phẩm khác</strong></p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class=" havsgk">

                </a>
                <a href="laptop" class="item">
                  <div class="loaded" width="64" height="64"><img class="image lazyload"
                                                                  src="/assets2/upload/category/image-1620206909.jpg">
                  </div><span>Laptop</span>
                </a>
                <a href="may-ban" class="item">
                  <div class="loaded" width="64" height="64"><img class="image lazyload"
                                                                  src="/assets2/upload/category/banner-1620967287.jpg">
                  </div><span>PC máy tính bàn</span>
                </a>
                <a href="laptop-microsoft-surface" class="item">
                  <div class="loaded" width="64" height="64"><img class="image lazyload"
                                                                  src="/assets2/upload/category/image-1620206797.jpg">
                  </div><span>Microsoft surface</span>
                </a>
                <a href="thiet-bi-van-phong" class="item">
                  <div class="loaded" width="64" height="64"><img class="image lazyload"
                                                                  src="/assets2/upload/category/banner-1623049323.jpg">
                  </div><span>Thiết bị văn phòng</span>
                </a>
                <a href="phu-kien" class="item">
                  <div class="loaded" width="64" height="64"><img class="image lazyload"
                                                                  src="/assets2/upload/category/banner-1620967257.jpg">
                  </div><span>Phụ kiện</span>
                </a>
                <a href="thiet-bi-mang" class="item">
                  <div class="loaded" width="64" height="64"><img class="image lazyload"
                                                                  src="/assets2/upload/category/banner-1623049234.jpg">
                  </div><span>Thiết bị mạng</span>
                </a>
                <a href="laptop-macbook" class="item">
                  <div class="loaded" width="64" height="64"><img class="image lazyload"
                                                                  src="/assets2/upload/category/image-1620206580.jpg">
                  </div><span>Macbook Apple</span>
                </a>
                <a href="dien-thoai" class="item">
                  <div class="loaded" width="64" height="64"><img class="image lazyload"
                                                                  src="/assets2/upload/category/banner-1620967281.jpg">
                  </div><span>Điện Thoại</span>
                </a>
                <a href="may-tinh-bang" class="item">
                  <div class="loaded" width="64" height="64"><img class="image lazyload"
                                                                  src="/assets2/upload/category/banner-1623049577.jpg">
                  </div><span>Máy tính bảng</span>
                </a>
                <a href="linh-kien-laptop" class="item">
                  <div class="loaded" width="64" height="64"><img class="image lazyload"
                                                                  src="/assets2/upload/category/banner-1623049807.jpg">
                  </div><span>Linh kiện laptop</span>
                </a>
                <a href="phu-kien-surface" class="item">
                  <div class="loaded" width="64" height="64"><img class="image lazyload"
                                                                  src="/assets2/upload/category/banner-1623049835.jpg">
                  </div><span>Phụ kiện Surface</span>
                </a>
                <a href="thiet-bi-van-phong-man-hinh" class="item">
                  <div class="loaded" width="64" height="64"><img class="image lazyload"
                                                                  src="/assets2/upload/category/banner-1628758848.jpg">
                  </div><span>Màn hình máy tính</span>
                </a>
                <a href="linh-kien-pc" class="item">
                  <div class="loaded" width="64" height="64"><img class="image lazyload"
                                                                  src="/assets2/upload/category/banner-1631065059.jpg">
                  </div><span>Linh kiện máy tính bàn</span>
                </a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</th:block>