<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="menu-phone">
  <div class="container phone">
    <div class="row ">
      <div class="col-md-12">
        <div id="homepage-deal" class="group-deal-2 filter fillter-home">

          <div class="deal-intro">
            <div class="deal-div">
              <h2> Điện thoại nổi bật</h2>
            </div>
          </div>
          <div class="manu manu9 icon-mobilephone">
            <div class="slide">
              <a class="outline-none"
                 href="https://laptopre.vn/dien-thoai-apple-iphone"><img class="lazyload"
                                                                         data-src="/assets2/upload/category/image-16232054462.png" src="/assets2/upload/category/image-16232054462.png"></a>
            </div>
            <div class="slide">
              <a class="outline-none"
                 href="https://laptopre.vn/dien-thoai-samsung"><img class="lazyload"
                                                                    data-src="/assets2/upload/category/image-16232080312.png" src="/assets2/upload/category/image-16232080312.png"></a>
            </div>
            <div class="slide">
              <a class="outline-none"
                 href="https://laptopre.vn/dien-thoai-oppo"><img class="lazyload"
                                                                 data-src="/assets2/upload/category/image-16232084532.png" src="/assets2/upload/category/image-16232084532.png"></a>
            </div>
            <div class="slide">
              <a class="outline-none"
                 href="https://laptopre.vn/dien-thoai-xiaomi"><img class="lazyload"
                                                                   data-src="/assets2/upload/category/image-16232086462.png" src="/assets2/upload/category/image-16232086462.png"></a>
            </div>
            <div class="slide">
              <a class="outline-none"
                 href="https://laptopre.vn/dien-thoai-vivo"><img class="lazyload"
                                                                 data-src="/assets2/upload/category/image-16232089082.png" src="/assets2/upload/category/image-16232089082.png"></a>
            </div>
            <div class="slide">
              <a class="outline-none"
                 href="https://laptopre.vn/dien-thoai-realme"><img class="lazyload"
                                                                   data-src="/assets2/upload/category/image-16232091072.png" src="/assets2/upload/category/image-16232091072.png"></a>
            </div>
            <div class="slide">
              <a class="outline-none"
                 href="https://laptopre.vn/dien-thoai-nokia"><img class="lazyload"
                                                                  data-src="/assets2/upload/category/image-16232092982.png" src="/assets2/upload/category/image-16232092982.png"></a>
            </div>
            <div class="slide">
              <a class="outline-none"
                 href="https://laptopre.vn/dien-thoai-huawei"><img class="lazyload"
                                                                   data-src="/assets2/upload/category/image-16232094892.png" src="/assets2/upload/category/image-16232094892.png"></a>
            </div>
            <div class="slide">
              <a class="outline-none"
                 href="https://laptopre.vn/dien-thoai-masstel"><img class="lazyload"
                                                                    data-src="/assets2/upload/category/image-16232097842.png" src="/assets2/upload/category/image-16232097842.png"></a>
            </div>
          </div>

          <div class="flex items-center pt-2">
            <div class="title">Khoảng giá</div>
            <div class="content">



              <label onclick="window.location.href='dien-thoai?muc-gia=duoi-2-trieu'">
                Dưới 2 triệu
              </label>


              <label onclick="window.location.href='dien-thoai?muc-gia=tu-2-4-trieu'">
                Từ 2 - 4 triệu
              </label>


              <label onclick="window.location.href='dien-thoai?muc-gia=tu-4-7-trieu'">
                Từ 4 - 7 triệu
              </label>


              <label onclick="window.location.href='dien-thoai?muc-gia=tu-7-13-trieu'">
                Từ 7 - 13 triệu
              </label>


              <label onclick="window.location.href='dien-thoai?muc-gia=tu-13-20-trieu'">
                Từ 13 - 20 triệu
              </label>


              <label onclick="window.location.href='dien-thoai?muc-gia=tren-20-trieu'">
                Trên 20 triệu
              </label>
            </div>
          </div>
          <div class="row pt-2">
          </div>
          <div class="pt-3">
            <a href="/dien-thoai" class="readmore-btn mobile"><span>Xem tất cả <b>184</b> Điện thoại</span></a>
          </div>
        </div>

      </div>
    </div>

  </div>
</th:block>