<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="example-modal">
  <div class="modal fade" id="exampleModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Danh sách cửa hàng</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row tooltiptext">
            <div class="col-12 text-left">
              <h5 style="font-weight: bold;
                                        color: #0159A0;"> Hà Nội</h5>
              <p>97-99 Lê Thanh Nghị (0935 434 694)</p>
              <h5 style="font-weight: bold;
                                        color: #0159A0;">Hồ Chí Minh</h5>
              <p> Đang nâng cấp sửa chữa</p>
              <p><strong>Hotline:</strong> 096 9936 777</p>
              <h5 style="font-weight: bold;
                                        color: #0159A0;"> Đà Nẵng</h5>
              <p>24 Thái Thị Bôi (0931 978 999)</p>
              <p>143 Hàm Nghi (096 9936 777)</p>
              <p>28 Lê Trọng Tấn (096 888 6363)</p>
            </div>
            <div class="col-12 text-left">

              <h5 style="font-weight: bold;
                                        color: #0159A0;">Trung tâm bảo hành</h5>
              <p>Wincare.vn (0912 664 984)</p>
              <p>Địa chỉ: Tại Đà Nẵng Số: 20 Thái Thị Bôi, Quận Thanh Khê - WINCARE.VN </p>
              <p>Địa chỉ: TP.Hà Nội, 97 - 99 Lê Thanh Nghị, Q. Hai Bà Trưng </p>
              <p>Địa chỉ: TP.HCM(đang nâng cấp sửa chữa)</p>
              <p><strong>Hotline:</strong> 096 9936 777</p>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</th:block>