<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="footer">
    <footer>
        <div id="icon-fixed-right">
            <a href="https://www.facebook.com/ThanhHuongTechnology" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.youtube.com/channel/UCITFELOVKungrvSflKZjl-Q" target="_blank"><i class="icons fab fa-youtube"></i></a>

            <a href="https://m.me/ThanhHuongTechnology" target="_blank"><i class="icons fab fa-facebook-messenger"></i></a>
            <a href="https://zalo.me/0931978999" target="_blank" class="zalo-icon"><img alt="url" src="/assets2/public/templates/laptop/anh/fillcolor.svg">
            </a>

        </div>



        <div class="container footer_news pt-4 ">
            <div class="row ">
                <div class="col-md-12 col-lg-4 pb-3 ">
                    <div class="dk-footer-box-info ">
                        <a href="https://laptopre.vn " class="footer-logo ">
                            <img src="/assets2/templates/laptop/anh/logo-thanh-huong-xanh-new.png " alt="footer_logo " class="img-fluid mb-2 ">
                        </a>
                        <p style="padding:2px 0;margin-bottom:8px; ">ĐC: 24 THÁI THỊ BÔI, QUẬN THANH KHÊ, <br> THÀNH PHỐ ĐÀ NẴNG</p>

                        <p style="padding:2px 0 ">GPĐKKD số 32B8011656 Cấp ngày 30/05/2013</p>
                        <p style="padding:2px 0 ">Điện thoại: (0236) 3663.888. Fax: (0236) 3663.888</p>
                        <p style="padding:2px 0 ">© 2013 - 2018 Powered by Laptopre.vn</p>
                        <p style="padding:2px 0 ">https://laptopre.vn - http://laptopzin.vn</p>
                        <p>
                            <a href="# " target="_blank "><img src="/assets2/templates/laptop/anh/thong-bao-website-voi-bo-cong-thuong_grande.png " style="max-width:60% "></a>&nbsp;</p>
                        <p style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); color: rgb(70, 83, 99); font-family: Arial, Helvetica, sans-serif; margin-bottom: 0px; padding-top: 6px; padding-bottom: 6px; text-align: center; ">
                            <a href="https://laptopre.vn " style="background: transparent; color: rgb(78, 142, 245); font-weight: normal; text-decoration-line: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); outline: none; cursor: pointer; border-bottom:
        0px; transition: all 150ms; "><img alt=" " src="https://zshop.vn/images/companies/1/internet_banking.png?1426561610912 " style="opacity: 0.9; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); border: 0px; vertical-align: middle; font-size: 0px; background-color:
        initial; "></a>
                            <a href="https://laptopre.vn " style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); background: transparent; font-weight: normal; text-decoration-line: none; outline: none; color: rgb(78, 142, 245); cursor: pointer; border-bottom:
        0px; transition: all 150ms; "><img alt=" " src="https://zshop.vn/images/companies/1/tien_mat.png?1426561593480 " style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); border: 0px; vertical-align: middle; font-size: 0px; "></a>
                            <a href="https://laptopre.vn " style="color: rgb(78, 142, 245); font-weight: normal; font-family: Arial, Helvetica, sans-serif; text-align: center; background: transparent; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-decoration-line:
        none; outline: none; cursor: pointer; border-bottom: 0px; transition: all 150ms; "><img alt=" " src="https://zshop.vn/images/companies/1/visa.png?1426561625513 " style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); border: 0px; vertical-align: middle;
        font-size: 0px; background-color: initial; "></a><span style="color: rgb(70, 83, 99); font-family: Arial, Helvetica, sans-serif; text-align: center; ">&nbsp;</span>
                            <a href="https://laptopre.vn " style="color: rgb(78, 142, 245); font-weight: normal; font-family: Arial, Helvetica, sans-serif; text-align: center; background: transparent; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-decoration-line:
        none; outline: 0px; cursor: pointer; border-bottom: 0px; transition: all 150ms; "><img alt=" " src="https://zshop.vn/images/companies/1/mastercard.png?1426561637648 " style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); border: 0px; vertical-align:
        middle; font-size: 0px; background-color: initial; "></a>
                        </p>

                    </div>
                    <!-- End Footer info -->

                </div>
                <!-- End Col -->
                <div class="col-md-12 col-lg-8 ">
                    <div class="row ">

                        <div class="col-8 ">
                            <div class="row ">
                                <div class="col-md-6 ">
                                    <h5> Đà Nẵng</h5><span class="animate-border border-black "></span>
                                    <div class="advice ">
                                        <p>Tư vấn mua hàng (Cơ sở 1)</p>
                                        <a href=" ">0931 978 999</a> <span>(24 Thái Thị Bôi)</span>
                                    </div>
                                    <div class="advice ">
                                        <p>Tư vấn mua hàng (Cơ sở 2)</p>
                                        <a href=" "> 096 9936 777</a> <span>(143 Hàm Nghi)</span>
                                    </div>
                                    <div class="advice ">
                                        <p>Tư vấn mua hàng (Cơ sở 3)</p>
                                        <a href=" ">096 888 6363</a> <span>(28 Lê Trọng Tấn)</span>
                                    </div>

                                </div>
                                <div class="col-md-6 ">
                                    <h5> Hà Nội</h5>
                                    <div class="advice ">
                                        <p>Tư vấn mua hàng</p>
                                        <a href=" ">0949 121 368</a> <span>(97-99 Lê Thanh Nghị)</span>
                                    </div>

                                    <h5 class="pt-1 "> Hồ Chí Minh</h5>
                                    <div class="advice ">
                                        <p>Bảo hành</p>
                                        <span><a href=" ">Mr.Đạt: 070 814 6554</a>(235 Lê Đình Cẩn, P Tân Đạo, Q Bình Tân, TP.HCM)</span><br>
                                    </div>

                                    <!-- End Contact Us -->
                                </div>
                                <div class="col-md-12 ">
                                    <h5> TP. Huế</h5>
                                    <div class="advice ">
                                        <p>Tư vấn mua hàng</p>
                                        <a href=" ">096 888 6363 - 094912 1368</a> <span>(264 Hùng Vương)</span>
                                    </div>
                                    <p>Mua Laptop : Mr.Đạt 096 888 6363 – Mr.Xuân 094912 1368 </p>
                                    <p>Mua máy bàn: Mr.Khải: 032 7943368 – Linh,Phụ Kiện : Ms.Thôi: 090 5096628</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 ">
                            <h5> Trung tâm bảo hành </h5>
                            <p style="margin-bottom: 5px; "><strong>Địa chỉ: TP. Đà Nẵng,</strong> 20&nbsp;Thái Thị Bôi, Quận Thanh Khê <a href="http://wincare.vn "><span style="color:#0099ff; ">WINCARE.VN&nbsp;</span></a></p>
                            <p style="margin-bottom: 5px; "><strong>Địa chỉ:&nbsp;TP.Hà Nội,</strong>&nbsp;97 - 99 Lê Thanh Nghị, Q. Hai Bà Trưng&nbsp;</p>
                            <p style="margin-bottom: 5px; "><strong>Địa chỉ:&nbsp;TP.HCM,&nbsp;</strong>&nbsp;235 Lê Đình Cẩn, P Tân Đạo, Q Bình Tân</span>
                            </p>
                        </div>
                        <!-- End Col -->
                    </div>
                    <!-- End Contact Row -->
                    <div class="row ">
                        <div class="col-md-6 col-lg-6 ">
                            <div class="footer-widget footer-left-widget ">
                                <div class="section-heading ">
                                    <h5>Thanh Hương Technology</h5>
                                    <span class="animate-border border-black "></span>
                                </div>
                                <ul>
                                    <li>
                                        <a href="/ban-hang-doanh-nghiep ">Bán hàng doanh nghiệp</a>
                                    </li>
                                    <li>
                                        <a href="/san-pham-khuyen-mai ">Khuyến mãi</a>
                                    </li>
                                    <li>
                                        <a href="/cau-hoi-thuong-gap ">Câu hỏi thường gặp</a>
                                    </li>

                                </ul>
                                <ul>
                                    <li>
                                        <a href="/lich-su-mua-hang ">Kiểm tra đơn hàng</a>
                                    </li>
                                    <li>
                                        <a href="/cac-diem-ban-hang ">Hệ thống cửa hàng</a>
                                    </li>
                                    <li>
                                        <a href="/tin-tuc ">Bài viết</a>
                                    </li>

                                </ul>
                            </div>
                            <!-- End Footer Widget -->
                        </div>
                        <!-- End col -->
                        <div class="col-md-6 col-lg-6 ">
                            <div class="footer-widget ">
                                <div class="sp-payment ">
                                    <h5>Hỗ trợ thanh toán:</h5>
                                    <span class="animate-border border-black "></span>

                                    <img src="https://cdn4.iconfinder.com/data/icons/logos-and-brands/512/363_Visa_Credit_Card_logo-512.png " width="60px " height="50px " alt=" ">
                                    <img src="https://www.itpro-ms.com/wp-content/uploads/2020/04/5a3556c6e1a640.0809891515134450629243.png " width="60px " height="50px " alt=" ">
                                    <img src="https://static.vecteezy.com/system/resources/thumbnails/000/292/100/small/3__2819_29.jpg " width="60px " height="50px " alt=" ">
                                </div>
                                <div class="advice ">
                                    <p>Góp ý, khiếu nại:</p>
                                    <a href=" ">0912 664 984</a>
                                </div>

                            </div>
                            <!-- End footer widget -->
                        </div>
                        <!-- End Col -->
                    </div>
                    <!-- End Row -->
                </div>
                <!-- End Col -->
            </div>
            <!-- End Widget Row -->
        </div>

        <div class="footer-bottom copyright ">
            <div class="container ">
                <div class="row ">
                    <div class="col-md-12 footer-copyright ">
                        <p class="copy-right mb-0 ">
                            Copyright © 2021 CÔNG TY TNHH THANH HƯƠNG
                        </p>
                    </div>

                </div>
            </div>
        </div>
        <!-- back to top -->
        <a href="# " id="scroll " style="display: none; "><span></span></a>


        <div class="fab-wrapper">
            <input id="fabCheckbox" type="checkbox" class="fab-checkbox">
            <label class="fab" for="fabCheckbox" style="right: 15px">
                <i class="icon-cps-fab-menu"></i>
                <i class="icon-cps-close"></i>
            </label>
            <label class="fab-wheel" for="fabCheckbox">
                <a class="fab-action fab-action-1" href="https://laptopre.vn/cac-diem-ban-hang" rel="nofollow">
                    <span class="fab-title">Tìm cửa hàng</span>
                    <div class="fab-button fab-button-1"><i class="icon-cps-local"></i></div>
                </a>
                <a class="fab-action fab-action-2" href="tel:0969936777" rel="nofollow">
                    <span class="fab-title">Gọi trực tiếp</span>
                    <div class="fab-button fab-button-2"><i class="icon-cps-phone"></i></div>
                </a>
                <a class="fab-action fab-action-3" href="https://m.me/ThanhHuongTechnology" target="_blank" onclick="Tawk_API.showWidget();Tawk_API.maximize();" rel="nofollow">
                    <span class="fab-title">Chat ngay</span>
                    <div class="fab-button fab-button-3"><i class="icon-cps-chat"></i></div>
                </a>
                <a class="fab-action fab-action-4" href="https://zalo.me/0969936777" target="_blank" rel="nofollow">
                    <span class="fab-title">Chat trên Zalo</span>
                    <div class="fab-button fab-button-4"><i class="icon-cps-chat-zalo"></i></div>
                </a>
            </label>
            <div class="suggestions-chat-box hidden" style="display: none;">
                <div class="box-content d-flex justify-content-around align-items-center">
                    <i class="fa fa-times-circle" aria-hidden="true" id="btnClose" onclick="jQuery('.suggestions-chat-box').hide()"></i>
                    <p class="mb-0 font-14">Liên hệ ngay <i class="fa fa-hand-o-right" aria-hidden="true"></i></p>
                </div>
            </div>
            <label class="devvn_bg" for="fabCheckbox"></label>
        </div>

    </footer>
</th:block>