<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="menu-bottom">
  <nav class="nav-bottom ">
    <div class="container ">
      <div class="row ">
        <div class="col-12 ">
          <nav class="navbar navbar-expand-lg rounded nav-bottom ">
            <div class="collapse navbar-collapse " id="navbar ">
              <ul class="navbar-nav mr-auto ">
                <li class="nav-item dropdown megamenu-li mega-menu-custom ">
                  <a class="nav-link " href="/laptop-moi "><i class="fas fa-laptop "></i>
                    Laptop mới</a>

                  <div class="dropdown-menu megamenu drop-menu-main "
                       aria-labelledby="dropdown01 ">
                    <div class="row ">
                      <div class="col-lg-12 ">
                        <h6>Hãng sản xuất</h6>
                        <ul class="fs-mnsul3 ">
                          <li>
                            <a href="/laptop-macbook ">Apple (Macbook)</a>
                          </li>
                          <li>
                            <a href="/laptop-asus ">Asus</a>
                          </li>
                          <li>
                            <a href="/laptop-dell ">Dell</a>
                          </li>
                          <li>
                            <a href="/laptop-hp ">HP</a>
                          </li>
                          <li>
                            <a href="/laptop-lenovo ">Lenovo</a>
                          </li>
                          <li>
                            <a href="/laptop-acer ">Acer</a>
                          </li>
                          <li>
                            <a href="/laptop-msi ">MSI</a>
                          </li>
                          <li>
                            <a href="/laptop-lg-gram ">LG Gram</a>
                          </li>
                          <li>
                            <a href="/laptop-razer ">Razer</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>

                </li>
                <li class="nav-item dropdown megamenu-li mega-menu-custom ">
                  <a class="nav-link " href="/laptop-cu "><i class="fas fa-laptop "></i>
                    Laptop Cũ</a>

                  <div class="dropdown-menu megamenu drop-menu-main "
                       aria-labelledby="dropdown01 ">
                    <div class="row ">
                      <div class="col-lg-12 ">
                        <h6>Hãng sản xuất</h6>
                        <ul class="fs-mnsul3 ">
                          <li>
                            <a href="/laptop-dell-cu ">Laptop Dell cũ</a>
                          </li>
                          <li>
                            <a href="/laptop-hp-cu ">Laptop HP cũ</a>
                          </li>
                          <li>
                            <a href="/laptop-asus-cu ">Asus cũ</a>
                          </li>
                          <li>
                            <a href="/laptop-lenovo-cu ">Lenovo - Thinkpad cũ</a>
                          </li>
                          <li>
                            <a href="/laptop-msi-cu ">Msi cũ</a>
                          </li>
                          <li>
                            <a href="/laptop-acer-cu ">Acer cũ</a>
                          </li>
                          <li>
                            <a href="/laptop-lg-gram-cu ">LG Gram cũ</a>
                          </li>
                          <li>
                            <a href="/laptop-macbook-cu ">Macbook cũ</a>
                          </li>
                          <li>
                            <a href="/laptop-microsoft-surface-cu ">Microsoft surface cũ</a>
                          </li>
                          <li>
                            <a href="/laptop-razer-cu ">Laptop Razer cũ</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>

                </li>
                <li class="nav-item dropdown megamenu-li mega-menu-custom ">
                  <a class="nav-link " href="/laptop-moi "><i class="fas fa-layer-group "></i>
                    Mua theo dòng máy</a>

                  <div class="dropdown-menu megamenu drop-menu-main "
                       aria-labelledby="dropdown01 ">
                    <div class="row ">
                      <div class="col-lg-12 ">
                        <h6>Mua theo dòng máy</h6>
                        <ul class="fs-mnsul3 ">
                          <li>
                            <a href="/laptop-workstation ">Workstation</a>
                          </li>
                          <li>
                            <a href="/laptop-business ">Business</a>
                          </li>
                          <li>
                            <a href="/laptop-gaming ">Gaming</a>
                          </li>
                          <li>
                            <a href="/laptop-2-in-1 ">Laptop 2 in 1</a>
                          </li>
                          <li>
                            <a href="/laptop-home-personal ">Home &amp; Personal</a>
                          </li>
                          <li>
                            <a href="/laptop-small ">Small</a>
                          </li>
                          <li>
                            <a href="/laptop-premiun ">Premium</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>

                </li>
                <li class="nav-item dropdown megamenu-li mega-menu-custom ">
                  <a class="nav-link " href="/laptop-macbook "><i class="fab fa-apple "></i>
                    Apple Macbook</a>


                </li>
                <li class="nav-item dropdown megamenu-li mega-menu-custom ">
                  <a class="nav-link " href="/laptop-microsoft-surface "><i class="fab fa-windows "></i>
                    Microsoft surface</a>


                </li>
                <li class="nav-item dropdown megamenu-li mega-menu-custom ">
                  <a class="nav-link " href="/phu-kien "><i class="fas fa-headphones-alt "></i>
                    Phụ kiện</a>


                </li>
              </ul>
            </div>
            <div class="collapse navbar-collapse btn-tuvan " id="navbar ">
              <ul class="navbar-nav ">
                <li class="nav-item dropdown megamenu-li ">
                  <a href="javascript:void(0) " class="tu_van_mua_hang ">
                    Tư Vấn Mua Hàng
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin: auto; display: block;" width="71px" height="71px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
                      <circle cx="50" cy="50" r="39.7789" fill="none" stroke="#fff000" stroke-width="8">
                        <animate attributeName="r" repeatCount="indefinite" dur="1s" values="0;40" keyTimes="0;1" keySplines="0 0.2 0.8 1" calcMode="spline" begin="-0.5s"></animate>
                        <animate attributeName="opacity" repeatCount="indefinite" dur="1s" values="1;0" keyTimes="0;1" keySplines="0.2 0 0.8 1" calcMode="spline" begin="-0.5s"></animate>
                      </circle>
                      <circle cx="50" cy="50" r="24.6446" fill="none" stroke="#fff000" stroke-width="8">
                        <animate attributeName="r" repeatCount="indefinite" dur="1s" values="0;40" keyTimes="0;1" keySplines="0 0.2 0.8 1" calcMode="spline"></animate>
                        <animate attributeName="opacity" repeatCount="indefinite" dur="1s" values="1;0" keyTimes="0;1" keySplines="0.2 0 0.8 1" calcMode="spline"></animate>
                      </circle>
                    </svg>
                    <circle cx="50 " cy="50 " r="39.7789 " fill="none " stroke="#fff000 "
                            stroke-width="8 ">
                      <animate attributeName="r " repeatCount="indefinite " dur="1s "
                               values="0;40 " keyTimes="0;1 " keySplines="0 0.2 0.8 1 "
                               calcMode="spline " begin="-0.5s "></animate>
                      <animate attributeName="opacity " repeatCount="indefinite " dur="1s "
                               values="1;0 " keyTimes="0;1 " keySplines="0.2 0 0.8 1 "
                               calcMode="spline " begin="-0.5s "></animate>
                    </circle>
                    <circle cx="50 " cy="50 " r="24.6446 " fill="none " stroke="#fff000 "
                            stroke-width="8 ">
                      <animate attributeName="r " repeatCount="indefinite " dur="1s "
                               values="0;40 " keyTimes="0;1 " keySplines="0 0.2 0.8 1 "
                               calcMode="spline "></animate>
                      <animate attributeName="opacity " repeatCount="indefinite " dur="1s "
                               values="1;0 " keyTimes="0;1 " keySplines="0.2 0 0.8 1 "
                               calcMode="spline "></animate>
                    </circle>
                    </svg>
                    <div class="sub ">
                      <div class="item ">
                        <span class="span-1 ">Khách hàng lẻ</span>
                        <span>Zalo/Call/Viber:  096 9936 777 - Mr.Bằng</span>
                        <span>Zalo/Call/Viber: 096 888 6363 - Mr.Xuân</span>
                        <span>Zalo/Call/Viber:  094 219 1368 - Mrs.Hương</span>
                      </div>
                      <div class="item ">
                        <span class="span-1 ">Bán hàng doanh nghiệp</span>
                        <span>Zalo/Call/Viber: 0949 121 368 - Ms.Hương</span>
                      </div>
                      <div class="item ">
                        <span class="span-1 ">Liên hệ hợp tác</span>
                        <span>Zalo/Call/Viber: 0931 978 999 - Mr.Thanh</span>
                      </div>

                    </div>
                  </a>
                </li>
                <li class="nav-item dropdown megamenu-li sale-off ">
                  <a href="https://laptopre.vn/san-pham-khuyen-mai "><span class="sale-off ">Flash
                                            sale</span></a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </nav>
</th:block>