<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="head-css">
    <link media="screen" href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link rel="stylesheet" media="screen" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" media="screen" href="/assets2/templates/laptop/css/danhmucsanpham.css">
    <link rel="stylesheet"  media="screen" href="/assets2/templates/laptop/css/trangchunew.css">
    <link rel="stylesheet"  media="screen" href="/assets2/templates/laptop/css/trangchu.css">
    <link rel="stylesheet" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
</th:block>