<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="head-meta">
    <meta name="keywords" content="HP Pavilion x360 14-ek0013dx" />
    <meta name="news_keywords" content="HP Pavilion x360 14-ek0013dx" />
    <meta name="description" content="HP Pavilion x360 14-ek0013dx - Laptop mới tại Thanh Hương technology" />
    <meta property="og:title" content="" />
    <meta property="og:description" content="HP Pavilion x360 14-ek0013dx - Laptop mới tại Thanh Hương technology" />
    <meta property="og:image" content="/assets2/upload/picture/picture-1660182067.png"/>
    <meta property="og:url" itemprop="url" content="https://laptopre.vn/laptop/hp-pavilion-x360-14-ek0013dx-i3-1215u-ram-8gb-ssd-256gb "/>
    <meta property="og:type " content="website " />
    <meta itemprop="name " content="Laptop rẻ Đà Nẵng " />
    <meta itemprop="description " content="HP Pavilion x360 14-ek0013dx - Laptop mới tại Thanh Hương technology " />
    <meta itemprop="image " content= "/assets2/upload/picture/picture-1660182067.png " />
</th:block>